In [533]:
# Import package
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [534]:
df = pd.read_csv('Cleaned_Data_FY22_24.csv')
df.head()

C:\Users\linkd\AppData\Local\Temp\ipykernel_22208\1914531128.py:1: DtypeWarning: Columns (26,87,88,89,90,91,92,135,136,164) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Cleaned_Data_FY22_24.csv')

,contract_transaction_unique_key,contract_award_unique_key,award_id_piid,modification_number,transaction_number,parent_award_agency_id,parent_award_agency_name,parent_award_id_piid,parent_award_modification_number,federal_action_obligation,...,highly_compensated_officer_2_amount,highly_compensated_officer_3_name,highly_compensated_officer_3_amount,highly_compensated_officer_4_name,highly_compensated_officer_4_amount,highly_compensated_officer_5_name,highly_compensated_officer_5_amount,usaspending_permalink,initial_report_date,last_modified_date
0,6800_4732_68HE0122F0002_0_47QRAA19D00AA_0,CONT_AWD_68HE0122F0002_6800_47QRAA19D00AA_4732,68HE0122F0002,0,0.0,4732.0,FEDERAL ACQUISITION SERVICE,47QRAA19D00AA,PA0008,492857.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.usaspending.gov/award/CONT_AWD_68H...,2021/10/12,2021/10/12
1,6800_6800_68HE0122F0003_0_68HE0118A0003_0,CONT_AWD_68HE0122F0003_6800_68HE0118A0003_6800,68HE0122F0003,0,0.0,6800.0,ENVIRONMENTAL PROTECTION AGENCY,68HE0118A0003,P00001,120474.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.usaspending.gov/award/CONT_AWD_68H...,2021/10/19,2021/10/20
2,6800_6800_68HE0122F0004_0_68HE0120A0001_0,CONT_AWD_68HE0122F0004_6800_68HE0120A0001_6800,68HE0122F0004,0,0.0,6800.0,ENVIRONMENTAL PROTECTION AGENCY,68HE0120A0001,0,16785.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.usaspending.gov/award/CONT_AWD_68H...,2021/11/16,2021/11/17
3,6800_6800_68HE0122F0005_0_68HE0122A0001_0,CONT_AWD_68HE0122F0005_6800_68HE0122A0001_6800,68HE0122F0005,0,0.0,6800.0,ENVIRONMENTAL PROTECTION AGENCY,68HE0122A0001,0,100000.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.usaspending.gov/award/CONT_AWD_68H...,2021/12/9,2023/3/6
4,6800_6800_68HE0122F0009_0_68HE0118D0006_0,CONT_AWD_68HE0122F0009_6800_68HE0118D0006_6800,68HE0122F0009,0,0.0,6800.0,ENVIRONMENTAL PROTECTION AGENCY,68HE0118D0006,0,140842.61,...,313946.0,SR. VICE PRESIDENT ENGINEERING & CONSTRUCTION,283505.0,SR. VICE PRESIDENT BUSINESS DEVELOPMENT,289837.0,SR. VICE PRESIDENT BUSINESS OPERATIONS,233290.0,https://www.usaspending.gov/award/CONT_AWD_68H...,2022/2/16,2022/2/16

In [535]:
# We find remove the specific columns that are not relate with the predict value
colmun = ['contract_transaction_unique_key',
    'potential_total_value_of_award', 
    'awarding_office_name', 
    'funding_office_name', 
    'foreign_funding', 
    'recipient_city_name', 
    'recipient_county_name', 
    'recipient_state_code', 
    'recipient_zip_4_code', 
    'primary_place_of_performance_city_name', 
    'prime_award_transaction_place_of_performance_county_fips_code', 
    'prime_award_transaction_place_of_performance_state_fips_code', 
    'primary_place_of_performance_zip_4',     
    'award_type', 
    'type_of_contract_pricing', 
    'inherently_governmental_functions_description', 
    'product_or_service_code', 
    'contract_bundling', 
    'naics_code', 
    'recovered_materials_sustainability', 
    'domestic_or_foreign_entity', 
    'epa_designated_product', 
    'country_of_product_or_service_origin', 
    'place_of_manufacture', 
    'subcontracting_plan', 
    'extent_competed', 
    'solicitation_procedures', 
    'type_of_set_aside', 
    'number_of_offers_received', 
    'commercial_item_acquisition_procedures', 
    'small_business_competitiveness_demonstration_program', 
    'simplified_procedures_for_certain_commercial_items', 
    'local_area_set_aside', 
    'clinger_cohen_act_planning', 
    'labor_standards', 
    'contracting_officers_determination_of_business_size', 
    'labor_surplus_area_firm', 'contingency_humanitarian_or_peacekeeping_operation', 
    'alaskan_native_corporation_owned_firm', 
    'american_indian_owned_business', 
    'indian_tribe_federally_recognized', 
    'native_hawaiian_organization_owned_firm', 
    'tribally_owned_firm', 
    'veteran_owned_business', 
    'service_disabled_veteran_owned_business', 
    'woman_owned_business', 
    'women_owned_small_business', 
    'economically_disadvantaged_women_owned_small_business', 
    'joint_venture_women_owned_small_business', 
    'joint_venture_economic_disadvantaged_women_owned_small_bus', 
    'minority_owned_business', 
    'subcontinent_asian_asian_indian_american_owned_business', 
    'asian_pacific_american_owned_business', 
    'black_american_owned_business', 
    'hispanic_american_owned_business', 
    'native_american_owned_business', 
    'other_minority_owned_business', 
    'contracting_officers_determination_of_business_size_code', 
    'emerging_small_business', 
    'community_developed_corporation_owned_firm', 
    'us_federal_government', 
    'federally_funded_research_and_development_corp', 
    'federal_agency', 
    'us_state_government', 
    'us_local_government', 
    'city_local_government', 
    'county_local_government', 
    'inter_municipal_local_government', 
    'local_government_owned', 
    'municipality_local_government', 
    'school_district_local_government', 
    'township_local_government', 
    'us_tribal_government', 
    'foreign_government', 
    'organizational_type', 
    'corporate_entity_not_tax_exempt', 
    'corporate_entity_tax_exempt', 
    'partnership_or_limited_liability_partnership', 
    'sole_proprietorship', 
    'small_agricultural_cooperative', 
    'international_organization', 
    'us_government_entity', 
    'community_development_corporation', 
    'domestic_shelter', 
    'educational_institution', 
    'foundation', 
    'hospital_flag', 
    'manufacturer_of_goods', 
    'veterinary_hospital', 
    'hispanic_servicing_institution', 
    'receives_contracts', 
    'receives_financial_assistance', 
    'receives_contracts_and_financial_assistance', 
    'airport_authority', 
    'council_of_governments', 
    'housing_authorities_public_tribal', 
    'interstate_entity', 
    'planning_commission', 
    'port_authority', 
    'transit_authority', 
    'subchapter_scorporation', 
    'limited_liability_corporation', 
    'foreign_owned', 
    'for_profit_organization', 
    'nonprofit_organization', 
    'other_not_for_profit_organization', 
    'the_ability_one_program', 
    'private_university_or_college', 
    'state_controlled_institution_of_higher_learning', 
    '1862_land_grant_college', 
    '1890_land_grant_college', 
    '1994_land_grant_college', 
    'minority_institution', 
    'historically_black_college', 
    'tribal_college', 
    'alaskan_native_servicing_institution', 
    'native_hawaiian_servicing_institution', 
    'school_of_forestry', 
    'veterinary_college', 
    'dot_certified_disadvantage', 
    'self_certified_small_disadvantaged_business', 
    'small_disadvantaged_business', 
    'c8a_program_participant', 
    'historically_underutilized_business_zone_hubzone_firm', 
    'sba_certified_8a_joint_venture', 'action_date', 'contract_award_unique_key','period_of_performance_start_date',
    'number_of_offers_received']
df = df[colmun]
df.head()

,contract_transaction_unique_key,potential_total_value_of_award,awarding_office_name,funding_office_name,foreign_funding,recipient_city_name,recipient_county_name,recipient_state_code,recipient_zip_4_code,primary_place_of_performance_city_name,...,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture,action_date,contract_award_unique_key,period_of_performance_start_date,number_of_offers_received
0,6800_4732_68HE0122F0002_0_47QRAA19D00AA_0,2526539.94,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,MACON,BIBB,GA,312017962,WOBURN,...,f,f,f,f,t,f,2021/10/12,CONT_AWD_68HE0122F0002_6800_47QRAA19D00AA_4732,2021/10/24,2.0
1,6800_6800_68HE0122F0003_0_68HE0118A0003_0,120474.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,TRAVERSE CITY,GRAND TRAVERSE,MI,496863458,BOSTON,...,f,f,f,f,f,f,2021/10/20,CONT_AWD_68HE0122F0003_6800_68HE0118A0003_6800,2021/10/20,3.0
2,6800_6800_68HE0122F0004_0_68HE0120A0001_0,16785.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,PLYMOUTH,PLYMOUTH,MA,23607245,BOSTON,...,t,f,f,f,f,f,2021/11/17,CONT_AWD_68HE0122F0004_6800_68HE0120A0001_6800,2021/11/18,1.0
3,6800_6800_68HE0122F0005_0_68HE0122A0001_0,259217.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,KNOXVILLE,KNOX,TN,379324304,BOSTON,...,f,f,f,f,f,f,2021/12/9,CONT_AWD_68HE0122F0005_6800_68HE0122A0001_6800,2021/12/9,NaN
4,6800_6800_68HE0122F0009_0_68HE0118D0006_0,140842.61,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,RESTON,FAIRFAX,VA,201905375,LEEDS,...,f,f,f,f,f,f,2022/2/16,CONT_AWD_68HE0122F0009_6800_68HE0118D0006_6800,2022/2/16,2.0

In [536]:
df.describe()

,potential_total_value_of_award,prime_award_transaction_place_of_performance_county_fips_code,prime_award_transaction_place_of_performance_state_fips_code,primary_place_of_performance_zip_4,naics_code,number_of_offers_received,number_of_offers_received
count,2.840000e+03,2704.000000,2704.000000,2.705000e+03,2840.000000,1990.000000,1990.000000
mean,1.467268e+07,27765.965237,27.691568,4.801847e+08,498976.100000,10.579899,10.579899
std,2.657583e+08,15926.269692,15.902319,3.029419e+08,103506.470931,37.052086,37.052086
min,0.000000e+00,1073.000000,1.000000,2.489100e+04,221114.000000,1.000000,1.000000
25%,2.998942e+04,12032.500000,12.000000,2.075554e+08,511210.000000,1.000000,1.000000
50%,9.848300e+04,26161.000000,26.000000,4.526800e+08,541620.000000,2.000000,2.000000
75%,4.199252e+05,39090.500000,39.000000,7.610769e+08,561210.000000,3.000000,3.000000
max,5.776500e+09,72127.000000,72.000000,9.990198e+08,921150.000000,203.000000,203.000000

In [537]:
# retain columns with less than 20% missing values
threshold = len(df) * 0.2
cols_to_use = df.columns[df.isna().sum() <= threshold]
cols_to_use

Index(['contract_transaction_unique_key', 'potential_total_value_of_award',
       'awarding_office_name', 'funding_office_name', 'foreign_funding',
       'recipient_city_name', 'recipient_county_name', 'recipient_state_code',
       'recipient_zip_4_code', 'primary_place_of_performance_city_name',
       ...
       'veterinary_college', 'dot_certified_disadvantage',
       'self_certified_small_disadvantaged_business',
       'small_disadvantaged_business', 'c8a_program_participant',
       'historically_underutilized_business_zone_hubzone_firm',
       'sba_certified_8a_joint_venture', 'action_date',
       'contract_award_unique_key', 'period_of_performance_start_date'],
      dtype='object', length=126)

In [538]:
# Add in special columns for small business
df_drop = df[cols_to_use]
df_drop.head()

,contract_transaction_unique_key,potential_total_value_of_award,awarding_office_name,funding_office_name,foreign_funding,recipient_city_name,recipient_county_name,recipient_state_code,recipient_zip_4_code,primary_place_of_performance_city_name,...,veterinary_college,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture,action_date,contract_award_unique_key,period_of_performance_start_date
0,6800_4732_68HE0122F0002_0_47QRAA19D00AA_0,2526539.94,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,MACON,BIBB,GA,312017962,WOBURN,...,f,f,f,f,f,t,f,2021/10/12,CONT_AWD_68HE0122F0002_6800_47QRAA19D00AA_4732,2021/10/24
1,6800_6800_68HE0122F0003_0_68HE0118A0003_0,120474.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,TRAVERSE CITY,GRAND TRAVERSE,MI,496863458,BOSTON,...,f,f,f,f,f,f,f,2021/10/20,CONT_AWD_68HE0122F0003_6800_68HE0118A0003_6800,2021/10/20
2,6800_6800_68HE0122F0004_0_68HE0120A0001_0,16785.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,PLYMOUTH,PLYMOUTH,MA,23607245,BOSTON,...,f,t,f,f,f,f,f,2021/11/17,CONT_AWD_68HE0122F0004_6800_68HE0120A0001_6800,2021/11/18
3,6800_6800_68HE0122F0005_0_68HE0122A0001_0,259217.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,KNOXVILLE,KNOX,TN,379324304,BOSTON,...,f,f,f,f,f,f,f,2021/12/9,CONT_AWD_68HE0122F0005_6800_68HE0122A0001_6800,2021/12/9
4,6800_6800_68HE0122F0009_0_68HE0118D0006_0,140842.61,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,RESTON,FAIRFAX,VA,201905375,LEEDS,...,f,f,f,f,f,f,f,2022/2/16,CONT_AWD_68HE0122F0009_6800_68HE0118D0006_6800,2022/2/16

In [539]:
# Check the top 10 columns with missing value
df_drop.isna().sum().sort_values(ascending= False)[:10]

inherently_governmental_functions_description                    538
subcontracting_plan                                              301
prime_award_transaction_place_of_performance_county_fips_code    136
prime_award_transaction_place_of_performance_state_fips_code     136
primary_place_of_performance_city_name                           136
primary_place_of_performance_zip_4                               135
place_of_manufacture                                             132
country_of_product_or_service_origin                             132
epa_designated_product                                           132
award_type                                                       132
dtype: int64

In [540]:
# df_drop.dropna(inplace=True)
# df_drop.isna().sum()

### Duplication

In [541]:
# Copy the dataframe to prevent dataframe corruption
df_drop = df_drop.copy()

In [542]:
# Change the column from object to datetime
df_drop.loc[:,'action_date'] = pd.to_datetime(df_drop.loc[:,'action_date'])

C:\Users\linkd\AppData\Local\Temp\ipykernel_22208\2433635811.py:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_drop.loc[:,'action_date'] = pd.to_datetime(df_drop.loc[:,'action_date'])

In [543]:
# show df with duplicated contract award unique key but different action dates
dup = df_drop.sort_values(['contract_award_unique_key','action_date'], ascending= [True,False]).duplicated(subset =["contract_award_unique_key"], keep = 'first')
dup_df = df_drop[dup]
dup_df[['contract_award_unique_key','potential_total_value_of_award','action_date']].sort_values(['contract_award_unique_key',
                                                                                                         'action_date'], ascending= [True,False])

Empty DataFrame
Columns: [contract_award_unique_key, potential_total_value_of_award, action_date]
Index: []

In [544]:
# remove rows with the same contract award unique key and only keep the one with the latest action date
no_dup_df = df_drop.sort_values(['contract_award_unique_key','action_date'], ascending= [True,False]).drop_duplicates(subset="contract_award_unique_key", keep= "first")
no_dup_df['contract_award_unique_key']

0       CONT_AWD_68HE0122F0002_6800_47QRAA19D00AA_4732
1       CONT_AWD_68HE0122F0003_6800_68HE0118A0003_6800
2       CONT_AWD_68HE0122F0004_6800_68HE0120A0001_6800
3       CONT_AWD_68HE0122F0005_6800_68HE0122A0001_6800
4       CONT_AWD_68HE0122F0009_6800_68HE0118D0006_6800
                             ...
2835                       CONT_IDV_68HERH23D0007_6800
2836                       CONT_IDV_68HERH23D0008_6800
2837                       CONT_IDV_68HERH23D0009_6800
2838                       CONT_IDV_68HERH23D0016_6800
2839                       CONT_IDV_68HERH24D0006_6800
Name: contract_award_unique_key, Length: 2840, dtype: object

In [545]:
# Change period_of_performance_start_date to datetime for future data arrange
no_dup_df['period_of_performance_start_date'] = pd.to_datetime(no_dup_df['period_of_performance_start_date'])
no_dup_df['period_of_performance_start_date']

0      2021-10-24
1      2021-10-20
2      2021-11-18
3      2021-12-09
4      2022-02-16
          ...
2835   2023-04-05
2836   2023-04-05
2837   2023-07-03
2838   2023-08-28
2839   2023-10-31
Name: period_of_performance_start_date, Length: 2840, dtype: datetime64[ns]

In [546]:
# Reset the index for better order
fiscal_df= no_dup_df.reset_index().drop("index", axis = 1)
fiscal_df[['contract_transaction_unique_key', 'period_of_performance_start_date']].sort_values(by='period_of_performance_start_date')

,contract_transaction_unique_key,period_of_performance_start_date
2768,6800_-NONE-_68HERC22D0003_0_-NONE-_-NONE-,2021-10-01
1500,6800_-NONE-_68HERC21C0072_P00001_-NONE-_0,2021-10-01
1499,6800_-NONE-_68HERC21C0070_P00001_-NONE-_0,2021-10-01
1408,6800_-NONE-_68HE0M21P0077_P00001_-NONE-_0,2021-10-01
1407,6800_-NONE-_68HE0M21P0073_P00001_-NONE-_0,2021-10-01
...,...,...
2696,6800_6800_68HERH24F0111_0_68HE0321D0001_0,2024-02-06
872,6800_6800_68HE0724F0034_0_68HE0318D0006_0,2024-02-06
277,6800_4732_68HE0324F0024_0_47QRAA20D0028_0,2024-02-06
1406,6800_-NONE-_68HE0B24P0282_0_-NONE-_0,2024-02-06
2021,6800_6800_68HERC24F0100_0_68HERC20D0029_0,2024-05-01

### Outliers

In [547]:
# Find out the iqr for the potential_total_value_of_award
seventy_fifth = fiscal_df["potential_total_value_of_award"].quantile(0.75) 
twenty_fifth = fiscal_df["potential_total_value_of_award"].quantile(0.25) 

iqr = fiscal_df["potential_total_value_of_award"].quantile(0.75) - fiscal_df["potential_total_value_of_award"].quantile(0.25)
iqr

389935.79500000004

In [548]:
# Determine the right off and leftoff value
right_off = seventy_fifth + iqr*1.5

left_off = twenty_fifth - iqr*1.5

right_off, left_off

(1004828.9025000001, -554914.2775000001)

In [549]:
# Filter the dataset with only value in the dataframe 
fiscal_df = fiscal_df[(fiscal_df["potential_total_value_of_award"] <= right_off) & (fiscal_df["potential_total_value_of_award"] > left_off)]
fiscal_df

,contract_transaction_unique_key,potential_total_value_of_award,awarding_office_name,funding_office_name,foreign_funding,recipient_city_name,recipient_county_name,recipient_state_code,recipient_zip_4_code,primary_place_of_performance_city_name,...,veterinary_college,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture,action_date,contract_award_unique_key,period_of_performance_start_date
1,6800_6800_68HE0122F0003_0_68HE0118A0003_0,120474.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,TRAVERSE CITY,GRAND TRAVERSE,MI,496863458,BOSTON,...,f,f,f,f,f,f,f,2021-10-20,CONT_AWD_68HE0122F0003_6800_68HE0118A0003_6800,2021-10-20
2,6800_6800_68HE0122F0004_0_68HE0120A0001_0,16785.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,PLYMOUTH,PLYMOUTH,MA,23607245,BOSTON,...,f,t,f,f,f,f,f,2021-11-17,CONT_AWD_68HE0122F0004_6800_68HE0120A0001_6800,2021-11-18
3,6800_6800_68HE0122F0005_0_68HE0122A0001_0,259217.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,KNOXVILLE,KNOX,TN,379324304,BOSTON,...,f,f,f,f,f,f,f,2021-12-09,CONT_AWD_68HE0122F0005_6800_68HE0122A0001_6800,2021-12-09
4,6800_6800_68HE0122F0009_0_68HE0118D0006_0,140842.61,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,RESTON,FAIRFAX,VA,201905375,LEEDS,...,f,f,f,f,f,f,f,2022-02-16,CONT_AWD_68HE0122F0009_6800_68HE0118D0006_6800,2022-02-16
5,6800_6800_68HE0122F0010_0_68HE0121D0005_0,1000000.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,FENTON,ST. LOUIS,MO,630262926,QUINCY,...,f,f,f,f,f,f,f,2022-02-17,CONT_AWD_68HE0122F0010_6800_68HE0121D0005_6800,2022-02-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2820,6800_-NONE-_68HERH23A0004_0_-NONE-_-NONE-,49790.90,HEADQUARTERS ACQUISITION DIV (HQAD),OFC OF MISSION SUPT (OMS) (FUNDING),X,SACRAMENTO,SACRAMENTO,CA,958150000,NaN,...,f,f,f,f,f,f,f,2022-10-17,CONT_IDV_68HERH23A0004_6800,2022-10-17
2821,6800_-NONE-_68HERH23A0005_0_-NONE-_-NONE-,49790.90,HEADQUARTERS ACQUISITION DIV (HQAD),OFC OF MISSION SUPT (OMS) (FUNDING),X,SACRAMENTO,SACRAMENTO,CA,958152710,NaN,...,f,f,f,f,f,f,f,2022-10-21,CONT_IDV_68HERH23A0005_6800,2022-10-21
2822,6800_-NONE-_68HERH23A0010_0_-NONE-_-NONE-,1000000.00,HEADQUARTERS ACQUISITION DIV (HQAD),OFC OF MISSION SUPT (OMS) (FUNDING),X,WINTER GARDEN,ORANGE,FL,347873516,NaN,...,f,f,f,f,f,f,f,2022-12-08,CONT_IDV_68HERH23A0010_6800,2022-12-08
2823,6800_-NONE-_68HERH23A0018_0_-NONE-_-NONE-,76193.38,HEADQUARTERS ACQUISITION DIV (HQAD),OFC CHEMSFTYPOLLPREV(OCSPP) (FUND),X,DERWOOD,MONTGOMERY,MD,208552203,NaN,...,f,f,f,f,f,f,f,2023-02-13,CONT_IDV_68HERH23A0018_6800,2023-02-13
2831,6800_-NONE-_68HERH23A0034_0_-NONE-_-NONE-,250000.00,HEADQUARTERS ACQUISITION DIV (HQAD),OFC INSPECTOR GENERAL(OIG)(FUNDING),X,VIRGINIA BEACH,VIRGINIA BEACH (CITY),VA,234533171,NaN,...,f,f,t,f,f,f,f,2023-09-27,CONT_IDV_68HERH23A0034_6800,2023-09-27

In [550]:
fiscal_df.describe()

,potential_total_value_of_award,prime_award_transaction_place_of_performance_county_fips_code,prime_award_transaction_place_of_performance_state_fips_code,primary_place_of_performance_zip_4,naics_code
count,2360.000000,2330.000000,2330.000000,2.331000e+03,2360.000000
mean,146913.587398,27548.080258,27.474678,4.862979e+08,490475.741525
std,197440.498489,15792.483300,15.771678,3.049299e+08,108669.984132
min,0.000000,1073.000000,1.000000,2.489100e+04,221114.000000
25%,24898.750000,12033.000000,12.000000,2.087198e+08,337127.000000
50%,66000.000000,26146.000000,26.000000,4.526800e+08,541620.000000
75%,178603.602500,39061.000000,39.000000,7.737780e+08,541715.000000
max,1000000.000000,72127.000000,72.000000,9.990198e+08,921150.000000

In [551]:
# Import Package
from sklearn.preprocessing import MinMaxScaler

In [552]:
fiscal_df_num = fiscal_df.select_dtypes('float')
fiscal_df_num

,potential_total_value_of_award,prime_award_transaction_place_of_performance_county_fips_code,prime_award_transaction_place_of_performance_state_fips_code,primary_place_of_performance_zip_4
1,120474.00,25025.0,25.0,21093912.0
2,16785.00,25025.0,25.0,21093912.0
3,259217.00,25025.0,25.0,21093912.0
4,140842.61,23001.0,23.0,42633835.0
5,1000000.00,25021.0,25.0,21690902.0
...,...,...,...,...
2820,49790.90,NaN,NaN,NaN
2821,49790.90,NaN,NaN,NaN
2822,1000000.00,NaN,NaN,NaN
2823,76193.38,NaN,NaN,NaN
2831,250000.00,NaN,NaN,NaN

In [553]:
# Select number for fiscal dataframe
fiscal_df_num = fiscal_df.select_dtypes('number')

# Select number for fiscal dataframe
fiscal_df_num.drop('potential_total_value_of_award', axis = 1, inplace= True)
for column in fiscal_df_num.columns:
    # Create a MinMaxScaler object
    scaler = MinMaxScaler()
    
    # Reshape the column to a 2D array for the scaler
    column_data = fiscal_df_num[column].values.reshape(-1, 1)
    
    # Fit the scaler to the column data and transform it
    scaled_data = scaler.fit_transform(column_data)
    
    # Assign the scaled data back to the column in the DataFrame
    fiscal_df_num[column] = scaled_data.flatten()
fiscal_df_num

,prime_award_transaction_place_of_performance_county_fips_code,prime_award_transaction_place_of_performance_state_fips_code,primary_place_of_performance_zip_4,naics_code
1,0.337096,0.338028,0.021090,0.457842
2,0.337096,0.338028,0.021090,0.457842
3,0.337096,0.338028,0.021090,0.457842
4,0.308610,0.309859,0.042652,0.488255
5,0.337039,0.338028,0.021688,0.488255
...,...,...,...,...
2820,NaN,NaN,NaN,0.165531
2821,NaN,NaN,NaN,0.332674
2822,NaN,NaN,NaN,0.487256
2823,NaN,NaN,NaN,0.148572
2831,NaN,NaN,NaN,0.135530

In [554]:
# remove unimportant columns
# TODO: check why some of the colums are removed
fiscal_df.drop([
    "contract_transaction_unique_key",
    "contract_award_unique_key",
    "inherently_governmental_functions_description",
    'subcontracting_plan',
    'recipient_city_name',
    'recipient_county_name',
    'recipient_zip_4_code',
    'primary_place_of_performance_city_name',
    'primary_place_of_performance_zip_4',
    'recipient_state_code',
    'awarding_office_name',
    'funding_office_name',
    'product_or_service_code',
    'action_date',
    'period_of_performance_start_date'
], axis = 1, inplace=True)

### Encoding DataFrame

In [555]:
# detect numerical columns that should have been categorical
fiscal_df.describe()

,potential_total_value_of_award,prime_award_transaction_place_of_performance_county_fips_code,prime_award_transaction_place_of_performance_state_fips_code,naics_code
count,2360.000000,2330.000000,2330.000000,2360.000000
mean,146913.587398,27548.080258,27.474678,490475.741525
std,197440.498489,15792.483300,15.771678,108669.984132
min,0.000000,1073.000000,1.000000,221114.000000
25%,24898.750000,12033.000000,12.000000,337127.000000
50%,66000.000000,26146.000000,26.000000,541620.000000
75%,178603.602500,39061.000000,39.000000,541715.000000
max,1000000.000000,72127.000000,72.000000,921150.000000

In [556]:
# transform naics_code to categorical
fiscal_df['naics_code'] = fiscal_df['naics_code'].astype("object")

In [557]:
fiscal_df.describe()

,potential_total_value_of_award,prime_award_transaction_place_of_performance_county_fips_code,prime_award_transaction_place_of_performance_state_fips_code
count,2360.000000,2330.000000,2330.000000
mean,146913.587398,27548.080258,27.474678
std,197440.498489,15792.483300,15.771678
min,0.000000,1073.000000,1.000000
25%,24898.750000,12033.000000,12.000000
50%,66000.000000,26146.000000,26.000000
75%,178603.602500,39061.000000,39.000000
max,1000000.000000,72127.000000,72.000000

In [558]:
cat_df = fiscal_df.select_dtypes('O')
cat_df.head()

,foreign_funding,award_type,type_of_contract_pricing,contract_bundling,naics_code,recovered_materials_sustainability,domestic_or_foreign_entity,epa_designated_product,country_of_product_or_service_origin,place_of_manufacture,...,alaskan_native_servicing_institution,native_hawaiian_servicing_institution,school_of_forestry,veterinary_college,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture
1,X,BPA CALL,FIRM FIXED PRICE,NOT BUNDLED,541620,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCL...,U.S. OWNED BUSINESS,NOT REQUIRED,UNITED STATES,NOT A MANUFACTURED END PRODUCT,...,f,f,f,f,f,f,f,f,f,f
2,X,BPA CALL,FIRM FIXED PRICE,NOT BUNDLED,541620,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCL...,U.S. OWNED BUSINESS,NOT REQUIRED,UNITED STATES,NOT A MANUFACTURED END PRODUCT,...,f,f,f,f,t,f,f,f,f,f
3,X,BPA CALL,LABOR HOURS,NOT BUNDLED,541620,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCL...,U.S. OWNED BUSINESS,NOT REQUIRED,UNITED STATES,NOT A MANUFACTURED END PRODUCT,...,f,f,f,f,f,f,f,f,f,f
4,X,DELIVERY ORDER,TIME AND MATERIALS,NOT BUNDLED,562910,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCL...,U.S. OWNED BUSINESS,NOT REQUIRED,UNITED STATES,NOT A MANUFACTURED END PRODUCT,...,f,f,f,f,f,f,f,f,f,f
5,X,DELIVERY ORDER,TIME AND MATERIALS,NOT BUNDLED,562910,ENVIRONMENTALLY PREFERABLE,U.S. OWNED BUSINESS,MEETS REQUIREMENTS,UNITED STATES,NOT A MANUFACTURED END PRODUCT,...,f,f,f,f,f,f,f,f,f,f

In [559]:
# detect colums that are true-false values
columns_with_f = cat_df.apply(lambda col: 'f' in col.values)
columns_containing_f = cat_df.columns[columns_with_f]
filtered_df = cat_df[columns_containing_f]
filtered_df.columns

Index(['small_business_competitiveness_demonstration_program',
       'labor_surplus_area_firm', 'alaskan_native_corporation_owned_firm',
       'american_indian_owned_business', 'indian_tribe_federally_recognized',
       'native_hawaiian_organization_owned_firm', 'tribally_owned_firm',
       'veteran_owned_business', 'service_disabled_veteran_owned_business',
       'woman_owned_business', 'women_owned_small_business',
       'economically_disadvantaged_women_owned_small_business',
       'joint_venture_women_owned_small_business',
       'joint_venture_economic_disadvantaged_women_owned_small_bus',
       'minority_owned_business',
       'subcontinent_asian_asian_indian_american_owned_business',
       'asian_pacific_american_owned_business',
       'black_american_owned_business', 'hispanic_american_owned_business',
       'native_american_owned_business', 'other_minority_owned_business',
       'emerging_small_business', 'community_developed_corporation_owned_firm',
       'us_federal_government',
       'federally_funded_research_and_development_corp', 'federal_agency',
       'us_state_government', 'us_local_government', 'city_local_government',
       'county_local_government', 'inter_municipal_local_government',
       'local_government_owned', 'municipality_local_government',
       'school_district_local_government', 'township_local_government',
       'us_tribal_government', 'foreign_government',
       'corporate_entity_not_tax_exempt', 'corporate_entity_tax_exempt',
       'partnership_or_limited_liability_partnership', 'sole_proprietorship',
       'small_agricultural_cooperative', 'international_organization',
       'us_government_entity', 'community_development_corporation',
       'domestic_shelter', 'educational_institution', 'foundation',
       'hospital_flag', 'manufacturer_of_goods', 'veterinary_hospital',
       'hispanic_servicing_institution', 'receives_contracts',
       'receives_financial_assistance',
       'receives_contracts_and_financial_assistance', 'airport_authority',
       'council_of_governments', 'housing_authorities_public_tribal',
       'interstate_entity', 'planning_commission', 'port_authority',
       'transit_authority', 'subchapter_scorporation',
       'limited_liability_corporation', 'foreign_owned',
       'for_profit_organization', 'nonprofit_organization',
       'other_not_for_profit_organization', 'the_ability_one_program',
       'private_university_or_college',
       'state_controlled_institution_of_higher_learning',
       '1862_land_grant_college', '1890_land_grant_college',
       '1994_land_grant_college', 'minority_institution',
       'historically_black_college', 'tribal_college',
       'alaskan_native_servicing_institution',
       'native_hawaiian_servicing_institution', 'school_of_forestry',
       'veterinary_college', 'dot_certified_disadvantage',
       'self_certified_small_disadvantaged_business',
       'small_disadvantaged_business', 'c8a_program_participant',
       'historically_underutilized_business_zone_hubzone_firm',
       'sba_certified_8a_joint_venture'],
      dtype='object')

In [560]:
for column in filtered_df.columns:
    fiscal_df[column] = (fiscal_df[column] == "t").astype(int)

fiscal_df.head()

,potential_total_value_of_award,foreign_funding,prime_award_transaction_place_of_performance_county_fips_code,prime_award_transaction_place_of_performance_state_fips_code,award_type,type_of_contract_pricing,contract_bundling,naics_code,recovered_materials_sustainability,domestic_or_foreign_entity,...,alaskan_native_servicing_institution,native_hawaiian_servicing_institution,school_of_forestry,veterinary_college,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture
1,120474.00,X,25025.0,25.0,BPA CALL,FIRM FIXED PRICE,NOT BUNDLED,541620,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCL...,U.S. OWNED BUSINESS,...,0,0,0,0,0,0,0,0,0,0
2,16785.00,X,25025.0,25.0,BPA CALL,FIRM FIXED PRICE,NOT BUNDLED,541620,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCL...,U.S. OWNED BUSINESS,...,0,0,0,0,1,0,0,0,0,0
3,259217.00,X,25025.0,25.0,BPA CALL,LABOR HOURS,NOT BUNDLED,541620,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCL...,U.S. OWNED BUSINESS,...,0,0,0,0,0,0,0,0,0,0
4,140842.61,X,23001.0,23.0,DELIVERY ORDER,TIME AND MATERIALS,NOT BUNDLED,562910,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCL...,U.S. OWNED BUSINESS,...,0,0,0,0,0,0,0,0,0,0
5,1000000.00,X,25021.0,25.0,DELIVERY ORDER,TIME AND MATERIALS,NOT BUNDLED,562910,ENVIRONMENTALLY PREFERABLE,U.S. OWNED BUSINESS,...,0,0,0,0,0,0,0,0,0,0

In [561]:
fiscal_df.select_dtypes('O').describe().T

,count,unique,top,freq
foreign_funding,2360,2,X,2356
award_type,2334,4,DELIVERY ORDER,1379
type_of_contract_pricing,2360,11,FIRM FIXED PRICE,1695
contract_bundling,2360,2,NOT BUNDLED,2358
naics_code,2360,166,541620,406
recovered_materials_sustainability,2329,9,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCL...,1304
domestic_or_foreign_entity,2328,4,U.S. OWNED BUSINESS,2243
epa_designated_product,2334,5,NOT REQUIRED,1531
country_of_product_or_service_origin,2334,18,UNITED STATES,2268
place_of_manufacture,2334,7,NOT A MANUFACTURED END PRODUCT,1580
extent_competed,2347,6,FULL AND OPEN COMPETITION AFTER EXCLUSION OF S...,994
solicitation_procedures,2347,6,SUBJECT TO MULTIPLE AWARD FAIR OPPORTUNITY,1049
commercial_item_acquisition_procedures,2358,7,COMMERCIAL PRODUCTS/SERVICES,1148
simplified_procedures_for_certain_commercial_items,2341,2,NO,2324
local_area_set_aside,2347,2,NO,2326
clinger_cohen_act_planning,2360,2,NO,2278
labor_standards,2360,3,NOT APPLICABLE,1259
contracting_officers_determination_of_business_size,2360,2,SMALL BUSINESS,2300
contingency_humanitarian_or_peacekeeping_operation,2360,3,NOT APPLICABLE,2252
contracting_officers_determination_of_business_size_code,2360,2,S,2300
organizational_type,2272,5,CORPORATE NOT TAX EXEMPT,1947

In [562]:
fiscal_df.dropna(axis =1)

,potential_total_value_of_award,foreign_funding,type_of_contract_pricing,contract_bundling,naics_code,small_business_competitiveness_demonstration_program,clinger_cohen_act_planning,labor_standards,contracting_officers_determination_of_business_size,labor_surplus_area_firm,...,alaskan_native_servicing_institution,native_hawaiian_servicing_institution,school_of_forestry,veterinary_college,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture
1,120474.00,X,FIRM FIXED PRICE,NOT BUNDLED,541620,0,NO,YES,SMALL BUSINESS,0,...,0,0,0,0,0,0,0,0,0,0
2,16785.00,X,FIRM FIXED PRICE,NOT BUNDLED,541620,0,NO,NOT APPLICABLE,OTHER THAN SMALL BUSINESS,0,...,0,0,0,0,1,0,0,0,0,0
3,259217.00,X,LABOR HOURS,NOT BUNDLED,541620,0,YES,YES,SMALL BUSINESS,0,...,0,0,0,0,0,0,0,0,0,0
4,140842.61,X,TIME AND MATERIALS,NOT BUNDLED,562910,0,NO,YES,SMALL BUSINESS,0,...,0,0,0,0,0,0,0,0,0,0
5,1000000.00,X,TIME AND MATERIALS,NOT BUNDLED,562910,0,NO,YES,SMALL BUSINESS,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2820,49790.90,X,FIRM FIXED PRICE,NOT BUNDLED,336992,0,NO,NOT APPLICABLE,SMALL BUSINESS,0,...,0,0,0,0,0,0,0,0,0,0
2821,49790.90,X,FIRM FIXED PRICE,NOT BUNDLED,453998,0,NO,NO,SMALL BUSINESS,0,...,0,0,0,0,0,0,0,0,0,0
2822,1000000.00,X,FIRM FIXED PRICE,NOT BUNDLED,562211,0,NO,NOT APPLICABLE,SMALL BUSINESS,0,...,0,0,0,0,0,0,0,0,0,0
2823,76193.38,X,FIRM FIXED PRICE,NOT BUNDLED,325120,0,NO,NO,SMALL BUSINESS,0,...,0,0,0,0,0,0,0,0,0,0
2831,250000.00,X,FIRM FIXED PRICE,NOT BUNDLED,315990,0,NO,NOT APPLICABLE,SMALL BUSINESS,0,...,0,0,0,0,0,1,0,0,0,0

In [563]:
fiscal_cat_df = fiscal_df.select_dtypes('O')
columns = fiscal_df.select_dtypes('O').columns
columns

Index(['foreign_funding', 'award_type', 'type_of_contract_pricing',
       'contract_bundling', 'naics_code', 'recovered_materials_sustainability',
       'domestic_or_foreign_entity', 'epa_designated_product',
       'country_of_product_or_service_origin', 'place_of_manufacture',
       'extent_competed', 'solicitation_procedures',
       'commercial_item_acquisition_procedures',
       'simplified_procedures_for_certain_commercial_items',
       'local_area_set_aside', 'clinger_cohen_act_planning', 'labor_standards',
       'contracting_officers_determination_of_business_size',
       'contingency_humanitarian_or_peacekeeping_operation',
       'contracting_officers_determination_of_business_size_code',
       'organizational_type'],
      dtype='object')

In [564]:
fiscal_df.select_dtypes('O').describe().T

,count,unique,top,freq
foreign_funding,2360,2,X,2356
award_type,2334,4,DELIVERY ORDER,1379
type_of_contract_pricing,2360,11,FIRM FIXED PRICE,1695
contract_bundling,2360,2,NOT BUNDLED,2358
naics_code,2360,166,541620,406
recovered_materials_sustainability,2329,9,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCL...,1304
domestic_or_foreign_entity,2328,4,U.S. OWNED BUSINESS,2243
epa_designated_product,2334,5,NOT REQUIRED,1531
country_of_product_or_service_origin,2334,18,UNITED STATES,2268
place_of_manufacture,2334,7,NOT A MANUFACTURED END PRODUCT,1580
extent_competed,2347,6,FULL AND OPEN COMPETITION AFTER EXCLUSION OF S...,994
solicitation_procedures,2347,6,SUBJECT TO MULTIPLE AWARD FAIR OPPORTUNITY,1049
commercial_item_acquisition_procedures,2358,7,COMMERCIAL PRODUCTS/SERVICES,1148
simplified_procedures_for_certain_commercial_items,2341,2,NO,2324
local_area_set_aside,2347,2,NO,2326
clinger_cohen_act_planning,2360,2,NO,2278
labor_standards,2360,3,NOT APPLICABLE,1259
contracting_officers_determination_of_business_size,2360,2,SMALL BUSINESS,2300
contingency_humanitarian_or_peacekeeping_operation,2360,3,NOT APPLICABLE,2252
contracting_officers_determination_of_business_size_code,2360,2,S,2300
organizational_type,2272,5,CORPORATE NOT TAX EXEMPT,1947

In [565]:
fiscal_df_cat = fiscal_df.select_dtypes('O').columns
fiscal_df_cat

Index(['foreign_funding', 'award_type', 'type_of_contract_pricing',
       'contract_bundling', 'naics_code', 'recovered_materials_sustainability',
       'domestic_or_foreign_entity', 'epa_designated_product',
       'country_of_product_or_service_origin', 'place_of_manufacture',
       'extent_competed', 'solicitation_procedures',
       'commercial_item_acquisition_procedures',
       'simplified_procedures_for_certain_commercial_items',
       'local_area_set_aside', 'clinger_cohen_act_planning', 'labor_standards',
       'contracting_officers_determination_of_business_size',
       'contingency_humanitarian_or_peacekeeping_operation',
       'contracting_officers_determination_of_business_size_code',
       'organizational_type'],
      dtype='object')

In [566]:
encoded_df = pd.get_dummies(fiscal_df, columns=fiscal_df_cat, drop_first= True)
machine_df = encoded_df.dropna(axis=1)
machine_df

C:\Users\linkd\AppData\Local\Temp\ipykernel_22208\2137741517.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  encoded_df = pd.get_dummies(fiscal_df, columns=fiscal_df_cat, drop_first= True)

,potential_total_value_of_award,small_business_competitiveness_demonstration_program,labor_surplus_area_firm,alaskan_native_corporation_owned_firm,american_indian_owned_business,indian_tribe_federally_recognized,native_hawaiian_organization_owned_firm,tribally_owned_firm,veteran_owned_business,service_disabled_veteran_owned_business,...,labor_standards_NOT APPLICABLE,labor_standards_YES,contracting_officers_determination_of_business_size_SMALL BUSINESS,contingency_humanitarian_or_peacekeeping_operation_NOT APPLICABLE,"contingency_humanitarian_or_peacekeeping_operation_PRESIDENTIAL ISSUED EMERGENCY DECLARATION, OR A MAJOR DISASTER DECLARATION",contracting_officers_determination_of_business_size_code_S,organizational_type_CORPORATE TAX EXEMPT,organizational_type_OTHER,organizational_type_PARTNERSHIP,organizational_type_SOLE PROPRIETORSHIP
1,120474.00,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,1,0,0,0,0
2,16785.00,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
3,259217.00,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,1,0,0,0,0
4,140842.61,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,1,0,0,0,0
5,1000000.00,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2820,49790.90,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,1,0,0,0,0
2821,49790.90,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,0,0,0,0
2822,1000000.00,0,0,0,0,0,0,0,1,1,...,1,0,1,1,0,1,0,0,0,0
2823,76193.38,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,0,0,0,0
2831,250000.00,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,1,0,1,0,0

### Machine Learning

In [567]:
# Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [568]:
# Log transformation
X = machine_df.drop('potential_total_value_of_award', axis = 1)
y = np.log(machine_df[['potential_total_value_of_award']]+1)

In [569]:
y.describe()

       potential_total_value_of_award
count                     2360.000000
mean                        11.087145
std                          1.437898
min                          0.000000
25%                         10.122613
50%                         11.097425
75%                         12.092929
max                         13.815512

In [570]:
X_train,X_test, y_train, y_test = train_test_split(X, y,test_size= 0.2, random_state= 707)

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((1888, 334), (1888, 1), (472, 334), (472, 1))

In [571]:
k = 7
selector = SelectKBest(score_func=f_regression, k=k)
X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)
print(X_test_selected)

selected_indices = selector.get_support(indices=True)
selected_features = X_train.columns[selected_indices]
print(selected_features)

[[1 0 0 ... 1 1 0]
 [0 0 1 ... 0 0 0]
 [1 0 0 ... 1 1 0]
 ...
 [1 0 1 ... 1 0 0]
 [0 0 1 ... 0 0 1]
 [0 0 1 ... 0 0 1]]
Index(['award_type_PURCHASE ORDER', 'naics_code_562910',
       'place_of_manufacture_NOT A MANUFACTURED END PRODUCT',
       'extent_competed_FULL AND OPEN COMPETITION AFTER EXCLUSION OF SOURCES',
       'solicitation_procedures_SIMPLIFIED ACQUISITION',
       'labor_standards_NOT APPLICABLE', 'labor_standards_YES'],
      dtype='object')

C:\Users\linkd\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [572]:
model = LinearRegression()
model.fit(X_train_selected, y_train)

# Make predictions on the testing set
y_pred = model.predict(X_test_selected)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 1.9147751571998486

### Try 57

In [573]:
k = 10
selector = SelectKBest(score_func=f_regression, k=k)
X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)

selected_indices = selector.get_support(indices=True)
selected_features = X_train.columns[selected_indices]

model = LinearRegression()
model.fit(X_train_selected, y_train)

y_pred = model.predict(X_test_selected)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 1.9199893963936314

C:\Users\linkd\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [574]:
selected_features

Index(['award_type_PURCHASE ORDER',
       'type_of_contract_pricing_FIRM FIXED PRICE', 'naics_code_441222',
       'naics_code_562910',
       'place_of_manufacture_NOT A MANUFACTURED END PRODUCT',
       'extent_competed_FULL AND OPEN COMPETITION AFTER EXCLUSION OF SOURCES',
       'solicitation_procedures_SIMPLIFIED ACQUISITION',
       'commercial_item_acquisition_procedures_COMMERCIAL PRODUCTS/SERVICES PROCEDURES NOT USED',
       'labor_standards_NOT APPLICABLE', 'labor_standards_YES'],
      dtype='object')

In [575]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.08759744255807222

### Classfication

In [576]:
machine_df

,potential_total_value_of_award,small_business_competitiveness_demonstration_program,labor_surplus_area_firm,alaskan_native_corporation_owned_firm,american_indian_owned_business,indian_tribe_federally_recognized,native_hawaiian_organization_owned_firm,tribally_owned_firm,veteran_owned_business,service_disabled_veteran_owned_business,...,labor_standards_NOT APPLICABLE,labor_standards_YES,contracting_officers_determination_of_business_size_SMALL BUSINESS,contingency_humanitarian_or_peacekeeping_operation_NOT APPLICABLE,"contingency_humanitarian_or_peacekeeping_operation_PRESIDENTIAL ISSUED EMERGENCY DECLARATION, OR A MAJOR DISASTER DECLARATION",contracting_officers_determination_of_business_size_code_S,organizational_type_CORPORATE TAX EXEMPT,organizational_type_OTHER,organizational_type_PARTNERSHIP,organizational_type_SOLE PROPRIETORSHIP
1,120474.00,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,1,0,0,0,0
2,16785.00,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
3,259217.00,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,1,0,0,0,0
4,140842.61,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,1,0,0,0,0
5,1000000.00,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2820,49790.90,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,1,0,0,0,0
2821,49790.90,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,0,0,0,0
2822,1000000.00,0,0,0,0,0,0,0,1,1,...,1,0,1,1,0,1,0,0,0,0
2823,76193.38,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,0,0,0,0
2831,250000.00,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,1,0,1,0,0

In [577]:
machine_df['potential_total_value_of_award'].quantile(0.6)

98011.98399999997

In [578]:

range = [-100, 100000, 500000, np.inf]
group_name = ['0-60k', '100k-500k', '500k+']

machine_df['income_level'] = pd.cut(machine_df['potential_total_value_of_award'], bins = range, labels = group_name)

machine_df['income_level'].value_counts()

C:\Users\linkd\AppData\Local\Temp\ipykernel_22208\168900167.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  machine_df['income_level'] = pd.cut(machine_df['potential_total_value_of_award'], bins = range, labels = group_name)

0-60k        1528
100k-500k     658
500k+         174
Name: income_level, dtype: int64

In [579]:
machine_df[['potential_total_value_of_award', 'income_level']].head()

   potential_total_value_of_award income_level
1                       120474.00    100k-500k
2                        16785.00        0-60k
3                       259217.00    100k-500k
4                       140842.61    100k-500k
5                      1000000.00        500k+

### Classfication

In [580]:
# Import package
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import KFold, cross_val_score

In [581]:
X = machine_df.drop(['potential_total_value_of_award','income_level'], axis = 1)
y = machine_df[['income_level']]

In [582]:
X.reset_index().drop('index', axis = 1, inplace=True)
X.head()

,small_business_competitiveness_demonstration_program,labor_surplus_area_firm,alaskan_native_corporation_owned_firm,american_indian_owned_business,indian_tribe_federally_recognized,native_hawaiian_organization_owned_firm,tribally_owned_firm,veteran_owned_business,service_disabled_veteran_owned_business,woman_owned_business,...,labor_standards_NOT APPLICABLE,labor_standards_YES,contracting_officers_determination_of_business_size_SMALL BUSINESS,contingency_humanitarian_or_peacekeeping_operation_NOT APPLICABLE,"contingency_humanitarian_or_peacekeeping_operation_PRESIDENTIAL ISSUED EMERGENCY DECLARATION, OR A MAJOR DISASTER DECLARATION",contracting_officers_determination_of_business_size_code_S,organizational_type_CORPORATE TAX EXEMPT,organizational_type_OTHER,organizational_type_PARTNERSHIP,organizational_type_SOLE PROPRIETORSHIP
1,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,1,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,1,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,1,0,0,0,0

In [583]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=707, stratify= y)

# Initialize the logistic regression model
logistic_model = LogisticRegression(multi_class = 'multinomial', C=0.6)

# Train the logistic regression model on the training data
logistic_model.fit(X_train, y_train)

# Predict the target variable on the testing set
y_pred = logistic_model.predict(X_test)

# Evaluate the performance of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Additional evaluation metrics
print("Classification Report:")
print(classification_report(y_test, y_pred))

C:\Users\linkd\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy: 0.6991525423728814
Classification Report:
              precision    recall  f1-score   support

       0-60k       0.75      0.90      0.82       305
   100k-500k       0.52      0.38      0.44       132
       500k+       0.44      0.11      0.18        35

    accuracy                           0.70       472
   macro avg       0.57      0.47      0.48       472
weighted avg       0.66      0.70      0.67       472

C:\Users\linkd\AppData\Roaming\Python\Python311\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [584]:
y.values.reshape(-1)

array(['100k-500k', '0-60k', '100k-500k', ..., '500k+', '0-60k',
       '100k-500k'], dtype=object)

In [585]:

kfold = KFold(n_splits = 10, shuffle=True, random_state= 20)
test_model = LogisticRegression(max_iter=3000, C=0.6)

cv_scores = cross_val_score(test_model, X, y.values.reshape(-1), cv = kfold)
print("Cross-validation scores:", cv_scores)

mean_score = cv_scores.mean()
print("Mean accuracy:", mean_score)

Cross-validation scores: [0.69067797 0.72033898 0.65254237 0.69067797 0.68644068 0.68220339
 0.71610169 0.68644068 0.68644068 0.63559322]
Mean accuracy: 0.6847457627118644

### SVM

In [586]:
from sklearn.svm import SVC

In [587]:
X = machine_df.drop(['potential_total_value_of_award','income_level'], axis = 1)
y = machine_df[['income_level']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=707)

# Initialize and train the Support Vector Classification model
svm_model = SVC(kernel='rbf', C=1.0, gamma='scale', random_state=42)
svm_model.fit(X_train, y_train)

# Predict on the testing set
y_pred = svm_model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

C:\Users\linkd\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy: 0.6716101694915254

Naive Bayes

In [588]:
from sklearn.naive_bayes import GaussianNB

In [589]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the Gaussian Naive Bayes model
nb_model = GaussianNB()
nb_model.fit(X_train, y_train)

# Predict on the testing set
y_pred = nb_model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.1504237288135593

C:\Users\linkd\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)