In [237]:
# Import package
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [238]:
df = pd.read_csv('FY2023_068_Contracts_Full_20240214_1.csv')
df.head()

C:\Users\linkd\AppData\Local\Temp\ipykernel_13080\2403302666.py:1: DtypeWarning: Columns (47,52,68,81,164,165) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('FY2023_068_Contracts_Full_20240214_1.csv')

,contract_transaction_unique_key,contract_award_unique_key,award_id_piid,modification_number,transaction_number,parent_award_agency_id,parent_award_agency_name,parent_award_id_piid,parent_award_modification_number,federal_action_obligation,...,highly_compensated_officer_2_amount,highly_compensated_officer_3_name,highly_compensated_officer_3_amount,highly_compensated_officer_4_name,highly_compensated_officer_4_amount,highly_compensated_officer_5_name,highly_compensated_officer_5_amount,usaspending_permalink,initial_report_date,last_modified_date
0,6800_-NONE-_68HE0B21P0185_P00007_-NONE-_0,CONT_AWD_68HE0B21P0185_6800_-NONE-_-NONE-,68HE0B21P0185,P00007,0.0,NaN,NaN,NaN,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.usaspending.gov/award/CONT_AWD_68H...,2023-09-13,2023-09-13
1,6800_-NONE-_68HE0B21P0185_P00006_-NONE-_0,CONT_AWD_68HE0B21P0185_6800_-NONE-_-NONE-,68HE0B21P0185,P00006,0.0,NaN,NaN,NaN,NaN,23913.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.usaspending.gov/award/CONT_AWD_68H...,2022-12-07,2022-12-30
2,6800_6800_0005_P00020_EPC18008_0,CONT_AWD_0005_6800_EPC18008_6800,0005,P00020,0.0,6800.0,ENVIRONMENTAL PROTECTION AGENCY,EPC18008,0,0.00,...,345000.0,SHERYLL MANOJ,345000.0,SHERYLL MANOJ,345000.0,SHERYLL MANOJ,345000.0,https://www.usaspending.gov/award/CONT_AWD_000...,2023-03-13,2023-03-16
3,6800_6800_0005_P00024_EPC18008_0,CONT_AWD_0005_6800_EPC18008_6800,0005,P00024,0.0,6800.0,ENVIRONMENTAL PROTECTION AGENCY,EPC18008,0,0.00,...,345000.0,SHERYLL MANOJ,345000.0,SHERYLL MANOJ,345000.0,SHERYLL MANOJ,345000.0,https://www.usaspending.gov/award/CONT_AWD_000...,2023-06-22,2023-08-09
4,6800_6800_0005_P00022_EPC18008_0,CONT_AWD_0005_6800_EPC18008_6800,0005,P00022,0.0,6800.0,ENVIRONMENTAL PROTECTION AGENCY,EPC18008,0,0.00,...,345000.0,SHERYLL MANOJ,345000.0,SHERYLL MANOJ,345000.0,SHERYLL MANOJ,345000.0,https://www.usaspending.gov/award/CONT_AWD_000...,2023-06-09,2023-06-09

In [239]:
# We find remove the specific columns that are not relate with the predict value
colmun = ['contract_transaction_unique_key',
    'potential_total_value_of_award', 
    'awarding_office_name', 
    'funding_office_name', 
    'foreign_funding', 
    'recipient_city_name', 
    'recipient_county_name', 
    'recipient_state_code', 
    'recipient_zip_4_code', 
    'primary_place_of_performance_city_name', 
    'prime_award_transaction_place_of_performance_county_fips_code', 
    'prime_award_transaction_place_of_performance_state_fips_code', 
    'primary_place_of_performance_zip_4',     
    'award_type', 
    'type_of_contract_pricing', 
    'inherently_governmental_functions_description', 
    'product_or_service_code', 
    'contract_bundling', 
    'naics_code', 
    'recovered_materials_sustainability', 
    'domestic_or_foreign_entity', 
    'epa_designated_product', 
    'country_of_product_or_service_origin', 
    'place_of_manufacture', 
    'subcontracting_plan', 
    'extent_competed', 
    'solicitation_procedures', 
    'type_of_set_aside', 
    'number_of_offers_received', 
    'commercial_item_acquisition_procedures', 
    'small_business_competitiveness_demonstration_program', 
    'simplified_procedures_for_certain_commercial_items', 
    'local_area_set_aside', 
    'clinger_cohen_act_planning', 
    'labor_standards', 
    'contracting_officers_determination_of_business_size', 
    'labor_surplus_area_firm', 'contingency_humanitarian_or_peacekeeping_operation', 
    'alaskan_native_corporation_owned_firm', 
    'american_indian_owned_business', 
    'indian_tribe_federally_recognized', 
    'native_hawaiian_organization_owned_firm', 
    'tribally_owned_firm', 
    'veteran_owned_business', 
    'service_disabled_veteran_owned_business', 
    'woman_owned_business', 
    'women_owned_small_business', 
    'economically_disadvantaged_women_owned_small_business', 
    'joint_venture_women_owned_small_business', 
    'joint_venture_economic_disadvantaged_women_owned_small_bus', 
    'minority_owned_business', 
    'subcontinent_asian_asian_indian_american_owned_business', 
    'asian_pacific_american_owned_business', 
    'black_american_owned_business', 
    'hispanic_american_owned_business', 
    'native_american_owned_business', 
    'other_minority_owned_business', 
    'contracting_officers_determination_of_business_size_code', 
    'emerging_small_business', 
    'community_developed_corporation_owned_firm', 
    'us_federal_government', 
    'federally_funded_research_and_development_corp', 
    'federal_agency', 
    'us_state_government', 
    'us_local_government', 
    'city_local_government', 
    'county_local_government', 
    'inter_municipal_local_government', 
    'local_government_owned', 
    'municipality_local_government', 
    'school_district_local_government', 
    'township_local_government', 
    'us_tribal_government', 
    'foreign_government', 
    'organizational_type', 
    'corporate_entity_not_tax_exempt', 
    'corporate_entity_tax_exempt', 
    'partnership_or_limited_liability_partnership', 
    'sole_proprietorship', 
    'small_agricultural_cooperative', 
    'international_organization', 
    'us_government_entity', 
    'community_development_corporation', 
    'domestic_shelter', 
    'educational_institution', 
    'foundation', 
    'hospital_flag', 
    'manufacturer_of_goods', 
    'veterinary_hospital', 
    'hispanic_servicing_institution', 
    'receives_contracts', 
    'receives_financial_assistance', 
    'receives_contracts_and_financial_assistance', 
    'airport_authority', 
    'council_of_governments', 
    'housing_authorities_public_tribal', 
    'interstate_entity', 
    'planning_commission', 
    'port_authority', 
    'transit_authority', 
    'subchapter_scorporation', 
    'limited_liability_corporation', 
    'foreign_owned', 
    'for_profit_organization', 
    'nonprofit_organization', 
    'other_not_for_profit_organization', 
    'the_ability_one_program', 
    'private_university_or_college', 
    'state_controlled_institution_of_higher_learning', 
    '1862_land_grant_college', 
    '1890_land_grant_college', 
    '1994_land_grant_college', 
    'minority_institution', 
    'historically_black_college', 
    'tribal_college', 
    'alaskan_native_servicing_institution', 
    'native_hawaiian_servicing_institution', 
    'school_of_forestry', 
    'veterinary_college', 
    'dot_certified_disadvantage', 
    'self_certified_small_disadvantaged_business', 
    'small_disadvantaged_business', 
    'c8a_program_participant', 
    'historically_underutilized_business_zone_hubzone_firm', 
    'sba_certified_8a_joint_venture', 'action_date', 'contract_award_unique_key','period_of_performance_start_date',
    'number_of_offers_received']
df = df[colmun]
df.head()

,contract_transaction_unique_key,potential_total_value_of_award,awarding_office_name,funding_office_name,foreign_funding,recipient_city_name,recipient_county_name,recipient_state_code,recipient_zip_4_code,primary_place_of_performance_city_name,...,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture,action_date,contract_award_unique_key,period_of_performance_start_date,number_of_offers_received
0,6800_-NONE-_68HE0B21P0185_P00007_-NONE-_0,69560.96,ORD SIMPLIFIED ACQ BRANCH (SAB),OFC RESEARCH DEV (ORD) (FUNDING),X,PEABODY,ESSEX,MA,019603862,CINCINNATI,...,f,f,f,f,f,f,2023-09-13,CONT_AWD_68HE0B21P0185_6800_-NONE-_-NONE-,2021-01-13,1.0
1,6800_-NONE-_68HE0B21P0185_P00006_-NONE-_0,69560.96,ORD SIMPLIFIED ACQ BRANCH (SAB),OFC RESEARCH DEV (ORD) (FUNDING),X,PEABODY,ESSEX,MA,019603862,CINCINNATI,...,f,f,f,f,f,f,2022-12-30,CONT_AWD_68HE0B21P0185_6800_-NONE-_-NONE-,2021-01-13,1.0
2,6800_6800_0005_P00020_EPC18008_0,556018.35,HEADQUARTERS ACQUISITION DIV (HQAD),OFC RESEARCH DEV (ORD) (FUNDING),X,FAIRFAX,FAIRFAX,VA,220306088,CINCINNATI,...,f,t,f,t,t,f,2023-03-14,CONT_AWD_0005_6800_EPC18008_6800,2018-03-22,NaN
3,6800_6800_0005_P00024_EPC18008_0,567243.48,HEADQUARTERS ACQUISITION DIV (HQAD),OFC RESEARCH DEV (ORD) (FUNDING),X,FAIRFAX,FAIRFAX,VA,220306088,CINCINNATI,...,f,t,f,t,t,f,2023-08-09,CONT_AWD_0005_6800_EPC18008_6800,2018-03-22,NaN
4,6800_6800_0005_P00022_EPC18008_0,556018.35,HEADQUARTERS ACQUISITION DIV (HQAD),OFC RESEARCH DEV (ORD) (FUNDING),X,FAIRFAX,FAIRFAX,VA,220306088,CINCINNATI,...,f,t,f,t,t,f,2023-06-09,CONT_AWD_0005_6800_EPC18008_6800,2018-03-22,NaN

In [240]:
df.describe()

,potential_total_value_of_award,prime_award_transaction_place_of_performance_county_fips_code,prime_award_transaction_place_of_performance_state_fips_code,naics_code,number_of_offers_received,number_of_offers_received
count,1.254200e+04,11863.000000,11863.000000,12533.000000,7177.000000,7177.000000
mean,1.382130e+07,28298.450476,28.233331,532769.373813,3.861084,3.861084
std,1.909578e+08,15846.593738,15.821931,76529.672627,15.827925,15.827925
min,0.000000e+00,1015.000000,1.000000,115112.000000,1.000000,1.000000
25%,1.323953e+05,12033.000000,12.000000,541611.000000,1.000000,1.000000
50%,6.414013e+05,25025.000000,25.000000,541620.000000,1.000000,1.000000
75%,3.142033e+06,41003.000000,41.000000,561210.000000,3.000000,3.000000
max,5.776500e+09,78030.000000,78.000000,926110.000000,185.000000,185.000000

In [241]:
threshold = len(df) * 0.2

In [242]:
cols_to_use = df.columns[df.isna().sum() <= threshold]
cols_to_use

Index(['contract_transaction_unique_key', 'potential_total_value_of_award',
       'awarding_office_name', 'funding_office_name', 'foreign_funding',
       'recipient_city_name', 'recipient_county_name', 'recipient_state_code',
       'recipient_zip_4_code', 'primary_place_of_performance_city_name',
       ...
       'veterinary_college', 'dot_certified_disadvantage',
       'self_certified_small_disadvantaged_business',
       'small_disadvantaged_business', 'c8a_program_participant',
       'historically_underutilized_business_zone_hubzone_firm',
       'sba_certified_8a_joint_venture', 'action_date',
       'contract_award_unique_key', 'period_of_performance_start_date'],
      dtype='object', length=126)

In [243]:
# Add in special columns for small business
df_drop = df[cols_to_use]
df_drop.head()

,contract_transaction_unique_key,potential_total_value_of_award,awarding_office_name,funding_office_name,foreign_funding,recipient_city_name,recipient_county_name,recipient_state_code,recipient_zip_4_code,primary_place_of_performance_city_name,...,veterinary_college,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture,action_date,contract_award_unique_key,period_of_performance_start_date
0,6800_-NONE-_68HE0B21P0185_P00007_-NONE-_0,69560.96,ORD SIMPLIFIED ACQ BRANCH (SAB),OFC RESEARCH DEV (ORD) (FUNDING),X,PEABODY,ESSEX,MA,019603862,CINCINNATI,...,f,f,f,f,f,f,f,2023-09-13,CONT_AWD_68HE0B21P0185_6800_-NONE-_-NONE-,2021-01-13
1,6800_-NONE-_68HE0B21P0185_P00006_-NONE-_0,69560.96,ORD SIMPLIFIED ACQ BRANCH (SAB),OFC RESEARCH DEV (ORD) (FUNDING),X,PEABODY,ESSEX,MA,019603862,CINCINNATI,...,f,f,f,f,f,f,f,2022-12-30,CONT_AWD_68HE0B21P0185_6800_-NONE-_-NONE-,2021-01-13
2,6800_6800_0005_P00020_EPC18008_0,556018.35,HEADQUARTERS ACQUISITION DIV (HQAD),OFC RESEARCH DEV (ORD) (FUNDING),X,FAIRFAX,FAIRFAX,VA,220306088,CINCINNATI,...,f,f,t,f,t,t,f,2023-03-14,CONT_AWD_0005_6800_EPC18008_6800,2018-03-22
3,6800_6800_0005_P00024_EPC18008_0,567243.48,HEADQUARTERS ACQUISITION DIV (HQAD),OFC RESEARCH DEV (ORD) (FUNDING),X,FAIRFAX,FAIRFAX,VA,220306088,CINCINNATI,...,f,f,t,f,t,t,f,2023-08-09,CONT_AWD_0005_6800_EPC18008_6800,2018-03-22
4,6800_6800_0005_P00022_EPC18008_0,556018.35,HEADQUARTERS ACQUISITION DIV (HQAD),OFC RESEARCH DEV (ORD) (FUNDING),X,FAIRFAX,FAIRFAX,VA,220306088,CINCINNATI,...,f,f,t,f,t,t,f,2023-06-09,CONT_AWD_0005_6800_EPC18008_6800,2018-03-22

In [244]:
df_drop.isna().sum().sort_values(ascending= False)[:10]

subcontracting_plan                                              1916
inherently_governmental_functions_description                     756
place_of_manufacture                                              696
primary_place_of_performance_city_name                            679
prime_award_transaction_place_of_performance_state_fips_code      679
prime_award_transaction_place_of_performance_county_fips_code     679
primary_place_of_performance_zip_4                                674
country_of_product_or_service_origin                              663
epa_designated_product                                            663
award_type                                                        662
dtype: int64

In [245]:
# df_drop.dropna(inplace=True)
# df_drop.isna().sum()

### Duplication

In [246]:
df_drop.head()

,contract_transaction_unique_key,potential_total_value_of_award,awarding_office_name,funding_office_name,foreign_funding,recipient_city_name,recipient_county_name,recipient_state_code,recipient_zip_4_code,primary_place_of_performance_city_name,...,veterinary_college,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture,action_date,contract_award_unique_key,period_of_performance_start_date
0,6800_-NONE-_68HE0B21P0185_P00007_-NONE-_0,69560.96,ORD SIMPLIFIED ACQ BRANCH (SAB),OFC RESEARCH DEV (ORD) (FUNDING),X,PEABODY,ESSEX,MA,019603862,CINCINNATI,...,f,f,f,f,f,f,f,2023-09-13,CONT_AWD_68HE0B21P0185_6800_-NONE-_-NONE-,2021-01-13
1,6800_-NONE-_68HE0B21P0185_P00006_-NONE-_0,69560.96,ORD SIMPLIFIED ACQ BRANCH (SAB),OFC RESEARCH DEV (ORD) (FUNDING),X,PEABODY,ESSEX,MA,019603862,CINCINNATI,...,f,f,f,f,f,f,f,2022-12-30,CONT_AWD_68HE0B21P0185_6800_-NONE-_-NONE-,2021-01-13
2,6800_6800_0005_P00020_EPC18008_0,556018.35,HEADQUARTERS ACQUISITION DIV (HQAD),OFC RESEARCH DEV (ORD) (FUNDING),X,FAIRFAX,FAIRFAX,VA,220306088,CINCINNATI,...,f,f,t,f,t,t,f,2023-03-14,CONT_AWD_0005_6800_EPC18008_6800,2018-03-22
3,6800_6800_0005_P00024_EPC18008_0,567243.48,HEADQUARTERS ACQUISITION DIV (HQAD),OFC RESEARCH DEV (ORD) (FUNDING),X,FAIRFAX,FAIRFAX,VA,220306088,CINCINNATI,...,f,f,t,f,t,t,f,2023-08-09,CONT_AWD_0005_6800_EPC18008_6800,2018-03-22
4,6800_6800_0005_P00022_EPC18008_0,556018.35,HEADQUARTERS ACQUISITION DIV (HQAD),OFC RESEARCH DEV (ORD) (FUNDING),X,FAIRFAX,FAIRFAX,VA,220306088,CINCINNATI,...,f,f,t,f,t,t,f,2023-06-09,CONT_AWD_0005_6800_EPC18008_6800,2018-03-22

In [247]:
df_drop = df_drop.copy()

In [248]:
df_drop.columns[:10]

Index(['contract_transaction_unique_key', 'potential_total_value_of_award',
       'awarding_office_name', 'funding_office_name', 'foreign_funding',
       'recipient_city_name', 'recipient_county_name', 'recipient_state_code',
       'recipient_zip_4_code', 'primary_place_of_performance_city_name'],
      dtype='object')

In [249]:
# Change the column from object to datetime
df_drop.loc[:,'action_date'] = pd.to_datetime(df_drop.loc[:,'action_date'])

C:\Users\linkd\AppData\Local\Temp\ipykernel_13080\2433635811.py:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_drop.loc[:,'action_date'] = pd.to_datetime(df_drop.loc[:,'action_date'])

In [250]:
dup = df_drop.sort_values(['contract_award_unique_key','action_date'], ascending= [True,False]).duplicated(subset =["contract_award_unique_key"], keep = 'first')
dup_df = df_drop[dup]
dup_df[['contract_award_unique_key','potential_total_value_of_award','action_date']].sort_values(['contract_award_unique_key',
                                                                                                         'action_date'], ascending= [True,False])

C:\Users\linkd\AppData\Local\Temp\ipykernel_13080\86313828.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dup_df = df_drop[dup]

,contract_award_unique_key,potential_total_value_of_award,action_date
2023,CONT_AWD_0001_6800_EPC17008_6800,12433860.76,2023-06-07
2018,CONT_AWD_0001_6800_EPC17008_6800,12433860.76,2023-05-01
2021,CONT_AWD_0001_6800_EPC17008_6800,12433860.76,2023-04-14
2016,CONT_AWD_0001_6800_EPC17008_6800,12433860.76,2023-03-02
2015,CONT_AWD_0001_6800_EPC17008_6800,12433860.76,2023-01-25
...,...,...,...
213,CONT_IDV_EPW18007_6800,62476952.70,2023-03-31
214,CONT_IDV_EPW18007_6800,50190306.30,2022-11-29
215,CONT_IDV_EPW18007_6800,50190306.30,2022-11-22
2789,CONT_IDV_EPW18008_6800,19669859.93,2023-05-30
2787,CONT_IDV_EPW18008_6800,19669859.93,2022-11-29

In [251]:
no_dup_df = df_drop.sort_values(['contract_award_unique_key','action_date'], ascending= [True,False]).drop_duplicates(subset="contract_award_unique_key", keep= "first")
no_dup_df['contract_award_unique_key']

2019     CONT_AWD_0001_6800_EPC17008_6800
7256     CONT_AWD_0001_6800_EPC17028_6800
10261    CONT_AWD_0001_6800_EPC17045_6800
2591     CONT_AWD_0001_6800_EPC17046_6800
8348     CONT_AWD_0001_6800_EPC18008_6800
                       ...
3453               CONT_IDV_EPW17017_6800
10742              CONT_IDV_EPW17021_6800
7672               CONT_IDV_EPW17022_6800
212                CONT_IDV_EPW18007_6800
2788               CONT_IDV_EPW18008_6800
Name: contract_award_unique_key, Length: 6150, dtype: object

In [252]:
no_dup_df['period_of_performance_start_date'] = pd.to_datetime(no_dup_df['period_of_performance_start_date'])
no_dup_df['period_of_performance_start_date']

2019    2017-06-01
7256    2017-09-06
10261   2018-03-26
2591    2018-02-14
8348    2018-03-20
           ...
3453    2017-07-25
10742   2017-07-25
7672    2017-07-25
212     2017-12-31
2788    2018-01-01
Name: period_of_performance_start_date, Length: 6150, dtype: datetime64[ns]

In [253]:
fiscal_df= no_dup_df[(no_dup_df['period_of_performance_start_date'].dt.year == 2022) & 
                         (no_dup_df['period_of_performance_start_date'].dt.month >= 10) |
                         (no_dup_df['period_of_performance_start_date'].dt.year == 2023) & 
                         (no_dup_df['period_of_performance_start_date'].dt.month <= 10)].reset_index().drop("index", axis = 1)
fiscal_df[['contract_transaction_unique_key', 'period_of_performance_start_date']].sort_values(by='period_of_performance_start_date')

,contract_transaction_unique_key,period_of_performance_start_date
1137,6800_6800_68HERC22F0529_P00007_68HERD21D0001_0,2022-10-01
436,6800_-NONE-_68HE0722C0004_P00002_-NONE-_0,2022-10-01
1136,6800_6800_68HERC22F0527_P00004_68HERD21D0001_0,2022-10-01
439,6800_4732_68HE0722F0184_P00003_GS07F0564X_0,2022-10-01
1135,6800_6800_68HERC22F0521_P00004_68HERD21D0001_0,2022-10-01
...,...,...
2232,6800_-NONE-_68HERH23P0107_0_-NONE-_0,2023-10-16
2074,6800_6800_68HERH23F0267_P00001_68HERH22A0018_0,2023-10-17
1735,6800_-NONE-_68HERD23C0008_0_-NONE-_0,2023-10-20
1861,6800_4732_68HERD23F0198_0_47QTCB22D0484_0,2023-10-23
1130,6800_-NONE-_68HE0N23P0010_0_-NONE-_0,2023-10-25

### Outliers

In [254]:
seventy_fifth = fiscal_df["potential_total_value_of_award"].quantile(0.75) 
twenty_fifth = fiscal_df["potential_total_value_of_award"].quantile(0.25) 

iqr = fiscal_df["potential_total_value_of_award"].quantile(0.75) - fiscal_df["potential_total_value_of_award"].quantile(0.25)
iqr

502148.0

In [255]:
right_off = seventy_fifth + iqr*1.5

left_off = twenty_fifth - iqr*1.5

right_off, left_off

(1293222.0, -715370.0)

In [256]:
fiscal_df = fiscal_df[(fiscal_df["potential_total_value_of_award"] <= right_off) & (fiscal_df["potential_total_value_of_award"] > left_off)]
fiscal_df

,contract_transaction_unique_key,potential_total_value_of_award,awarding_office_name,funding_office_name,foreign_funding,recipient_city_name,recipient_county_name,recipient_state_code,recipient_zip_4_code,primary_place_of_performance_city_name,...,veterinary_college,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture,action_date,contract_award_unique_key,period_of_performance_start_date
0,6800_6800_68HE0123F0001_P00005_68HE0122D0001_0,675000.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,MARLBOROUGH,NaN,MA,17524818,BOSTON,...,f,f,t,f,f,f,f,2023-09-14,CONT_AWD_68HE0123F0001_6800_68HE0122D0001_6800,2022-10-27
1,6800_6800_68HE0123F0002_0_68HE0118A0003_0,224990.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,TRAVERSE CITY,GRAND TRAVERSE,MI,496863458,BOSTON,...,f,f,f,f,f,f,f,2022-12-16,CONT_AWD_68HE0123F0002_6800_68HE0118A0003_6800,2023-01-03
2,6800_6800_68HE0123F0004_P00001_68HE0119A0001_0,6911.29,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,CORINTH,ORANGE,VT,050399517,NORTH CHELMSFORD,...,f,f,f,f,f,f,f,2023-03-08,CONT_AWD_68HE0123F0004_6800_68HE0119A0001_6800,2023-02-02
3,6800_6800_68HE0123F0005_P00001_EPBPA17W0006_0,145509.45,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,VALENCIA,LOS ANGELES,CA,913554550,BOSTON,...,f,f,f,f,f,f,f,2023-09-27,CONT_AWD_68HE0123F0005_6800_EPBPA17W0006_6800,2023-03-03
6,6800_6800_68HE0123F0009_P00001_68HE0121D0005_0,500000.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,FENTON,ST. LOUIS,MO,630262926,WINDSOR,...,f,f,f,f,f,f,f,2023-06-05,CONT_AWD_68HE0123F0009_6800_68HE0121D0005_6800,2023-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2385,6800_-NONE-_68HERH23A0018_0_-NONE-_-NONE-,76193.38,HEADQUARTERS ACQUISITION DIV (HQAD),OFC CHEMSFTYPOLLPREV(OCSPP) (FUND),X,DERWOOD,MONTGOMERY,MD,208552203,NaN,...,f,f,f,f,f,f,f,2023-02-13,CONT_IDV_68HERH23A0018_6800,2023-02-13
2395,6800_-NONE-_68HERH23A0034_0_-NONE-_-NONE-,250000.00,HEADQUARTERS ACQUISITION DIV (HQAD),OFC INSPECTOR GENERAL(OIG)(FUNDING),X,VIRGINIA BEACH,VIRGINIA BEACH (CITY),VA,234533171,NaN,...,f,f,t,f,f,f,f,2023-09-27,CONT_IDV_68HERH23A0034_6800,2023-09-27
2396,6800_-NONE-_68HERH23A0035_0_-NONE-_-NONE-,250000.00,HEADQUARTERS ACQUISITION DIV (HQAD),OFC OF ADMINISTRATOR (OA) (FUNDING),X,WASHINGTON,DISTRICT OF COLUMBIA,DC,200363807,NaN,...,f,f,f,f,f,f,f,2023-09-28,CONT_IDV_68HERH23A0035_6800,2023-09-28
2405,6800_-NONE-_68HERH23D0012_P00001_-NONE-_-NONE-,905570.00,HEADQUARTERS ACQUISITION DIV (HQAD),OFC LANDEMERG MGMT (OLEM)(FUNDING),X,CAMBRIDGE,MIDDLESEX,MA,021381168,NaN,...,f,f,f,f,f,f,f,2023-07-14,CONT_IDV_68HERH23D0012_6800,2023-06-29
2406,6800_-NONE-_68HERH23D0013_P00002_-NONE-_-NONE-,226837.00,HEADQUARTERS ACQUISITION DIV (HQAD),OFC LANDEMERG MGMT (OLEM)(FUNDING),X,MC LEAN,FAIRFAX,VA,221023830,NaN,...,f,f,f,f,f,f,f,2023-07-14,CONT_IDV_68HERH23D0013_6800,2023-06-29

In [257]:
fiscal_df.describe()

,potential_total_value_of_award,prime_award_transaction_place_of_performance_county_fips_code,prime_award_transaction_place_of_performance_state_fips_code,naics_code
count,2.023000e+03,1986.000000,1986.000000,2023.000000
mean,1.997156e+05,28298.492447,28.232125,502245.899160
std,2.698550e+05,15706.928005,15.689846,114875.411425
min,0.000000e+00,1033.000000,1.000000,115112.000000
25%,3.034412e+04,13059.000000,13.000000,443120.000000
50%,8.342000e+04,26161.000000,26.000000,541620.000000
75%,2.490795e+05,39088.000000,39.000000,541715.000000
max,1.292000e+06,72127.000000,72.000000,926110.000000

In [258]:
# Import Package
from sklearn.preprocessing import MinMaxScaler

In [259]:
fiscal_df_num = fiscal_df.select_dtypes('float')
fiscal_df_num

,potential_total_value_of_award,prime_award_transaction_place_of_performance_county_fips_code,prime_award_transaction_place_of_performance_state_fips_code,naics_code
0,675000.00,25025.0,25.0,562910.0
1,224990.00,25025.0,25.0,541620.0
2,6911.29,25017.0,25.0,541620.0
3,145509.45,25025.0,25.0,334290.0
6,500000.00,50027.0,50.0,562910.0
...,...,...,...,...
2385,76193.38,NaN,NaN,325120.0
2395,250000.00,NaN,NaN,315990.0
2396,250000.00,NaN,NaN,423430.0
2405,905570.00,NaN,NaN,541620.0
2406,226837.00,NaN,NaN,541620.0

In [260]:
fiscal_df_num = fiscal_df.select_dtypes('number')
fiscal_df_num.drop('potential_total_value_of_award', axis = 1, inplace= True)
for column in fiscal_df_num.columns:
    # Create a MinMaxScaler object
    scaler = MinMaxScaler()
    
    # Reshape the column to a 2D array for the scaler
    column_data = fiscal_df_num[column].values.reshape(-1, 1)
    
    # Fit the scaler to the column data and transform it
    scaled_data = scaler.fit_transform(column_data)
    
    # Assign the scaled data back to the column in the DataFrame
    fiscal_df_num[column] = scaled_data.flatten()
fiscal_df_num

,prime_award_transaction_place_of_performance_county_fips_code,prime_award_transaction_place_of_performance_state_fips_code,naics_code
0,0.337469,0.338028,0.552157
1,0.337469,0.338028,0.525905
2,0.337356,0.338028,0.525905
3,0.337469,0.338028,0.270257
6,0.689144,0.690141,0.552157
...,...,...,...
2385,NaN,NaN,0.258950
2395,NaN,NaN,0.247692
2396,NaN,NaN,0.380171
2405,NaN,NaN,0.525905
2406,NaN,NaN,0.525905

### Encoding DataFrame

In [261]:
cat_df = fiscal_df.select_dtypes('O')
cat_df.head()

,contract_transaction_unique_key,awarding_office_name,funding_office_name,foreign_funding,recipient_city_name,recipient_county_name,recipient_state_code,recipient_zip_4_code,primary_place_of_performance_city_name,primary_place_of_performance_zip_4,...,native_hawaiian_servicing_institution,school_of_forestry,veterinary_college,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture,contract_award_unique_key
0,6800_6800_68HE0123F0001_P00005_68HE0122D0001_0,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,MARLBOROUGH,NaN,MA,17524818,BOSTON,21093912.0,...,f,f,f,f,t,f,f,f,f,CONT_AWD_68HE0123F0001_6800_68HE0122D0001_6800
1,6800_6800_68HE0123F0002_0_68HE0118A0003_0,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,TRAVERSE CITY,GRAND TRAVERSE,MI,496863458,BOSTON,21093912.0,...,f,f,f,f,f,f,f,f,f,CONT_AWD_68HE0123F0002_6800_68HE0118A0003_6800
2,6800_6800_68HE0123F0004_P00001_68HE0119A0001_0,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,CORINTH,ORANGE,VT,050399517,NORTH CHELMSFORD,18632431.0,...,f,f,f,f,f,f,f,f,f,CONT_AWD_68HE0123F0004_6800_68HE0119A0001_6800
3,6800_6800_68HE0123F0005_P00001_EPBPA17W0006_0,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,VALENCIA,LOS ANGELES,CA,913554550,BOSTON,021093912,...,f,f,f,f,f,f,f,f,f,CONT_AWD_68HE0123F0005_6800_EPBPA17W0006_6800
6,6800_6800_68HE0123F0009_P00001_68HE0121D0005_0,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,FENTON,ST. LOUIS,MO,630262926,WINDSOR,50891811.0,...,f,f,f,f,f,f,f,f,f,CONT_AWD_68HE0123F0009_6800_68HE0121D0005_6800

In [262]:
cat_df.isna().sum().sort_values(ascending=False)

inherently_governmental_functions_description    423
subcontracting_plan                              270
organizational_type                               46
primary_place_of_performance_city_name            37
recovered_materials_sustainability                37
                                                ...
native_american_owned_business                     0
hispanic_american_owned_business                   0
black_american_owned_business                      0
asian_pacific_american_owned_business              0
contract_award_unique_key                          0
Length: 120, dtype: int64

In [263]:
cat_df.describe().T[:20]

,count,unique,top,freq
contract_transaction_unique_key,2023,2023,6800_6800_68HE0123F0001_P00005_68HE0122D0001_0,1
awarding_office_name,2023,16,CINCINNATI ACQUISITION DIV (CAD),511
funding_office_name,2023,23,OFC RESEARCH DEV (ORD) (FUNDING),535
foreign_funding,2023,2,X,2018
recipient_city_name,2022,420,FENTON,87
recipient_county_name,2003,222,FAIRFAX,280
recipient_state_code,2005,46,VA,401
recipient_zip_4_code,2022,734,630262926,83
primary_place_of_performance_city_name,1986,417,WASHINGTON,156
primary_place_of_performance_zip_4,1989.0,925.0,277110001.0,68.0
award_type,1994,4,DELIVERY ORDER,1114
type_of_contract_pricing,2023,11,FIRM FIXED PRICE,1329
inherently_governmental_functions_description,1600,4,OTHER FUNCTIONS,1307
product_or_service_code,2023,226,6640,253
contract_bundling,2023,2,NOT BUNDLED,2021
recovered_materials_sustainability,1986,10,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCL...,1096
domestic_or_foreign_entity,2005,5,U.S. OWNED BUSINESS,1830
epa_designated_product,1994,5,NOT REQUIRED,1266
country_of_product_or_service_origin,1994,19,UNITED STATES,1930
place_of_manufacture,1994,7,NOT A MANUFACTURED END PRODUCT,1456

In [264]:
columns_with_f = cat_df.apply(lambda col: 'f' in col.values)
columns_containing_f = cat_df.columns[columns_with_f]
filtered_df = cat_df[columns_containing_f]
filtered_df.columns

Index(['small_business_competitiveness_demonstration_program',
       'labor_surplus_area_firm', 'alaskan_native_corporation_owned_firm',
       'american_indian_owned_business', 'indian_tribe_federally_recognized',
       'native_hawaiian_organization_owned_firm', 'tribally_owned_firm',
       'veteran_owned_business', 'service_disabled_veteran_owned_business',
       'woman_owned_business', 'women_owned_small_business',
       'economically_disadvantaged_women_owned_small_business',
       'joint_venture_women_owned_small_business',
       'joint_venture_economic_disadvantaged_women_owned_small_bus',
       'minority_owned_business',
       'subcontinent_asian_asian_indian_american_owned_business',
       'asian_pacific_american_owned_business',
       'black_american_owned_business', 'hispanic_american_owned_business',
       'native_american_owned_business', 'other_minority_owned_business',
       'emerging_small_business', 'community_developed_corporation_owned_firm',
       'us_federal_government',
       'federally_funded_research_and_development_corp', 'federal_agency',
       'us_state_government', 'us_local_government', 'city_local_government',
       'county_local_government', 'inter_municipal_local_government',
       'local_government_owned', 'municipality_local_government',
       'school_district_local_government', 'township_local_government',
       'us_tribal_government', 'foreign_government',
       'corporate_entity_not_tax_exempt', 'corporate_entity_tax_exempt',
       'partnership_or_limited_liability_partnership', 'sole_proprietorship',
       'small_agricultural_cooperative', 'international_organization',
       'us_government_entity', 'community_development_corporation',
       'domestic_shelter', 'educational_institution', 'foundation',
       'hospital_flag', 'manufacturer_of_goods', 'veterinary_hospital',
       'hispanic_servicing_institution', 'receives_contracts',
       'receives_financial_assistance',
       'receives_contracts_and_financial_assistance', 'airport_authority',
       'council_of_governments', 'housing_authorities_public_tribal',
       'interstate_entity', 'planning_commission', 'port_authority',
       'transit_authority', 'subchapter_scorporation',
       'limited_liability_corporation', 'foreign_owned',
       'for_profit_organization', 'nonprofit_organization',
       'other_not_for_profit_organization', 'the_ability_one_program',
       'private_university_or_college',
       'state_controlled_institution_of_higher_learning',
       '1862_land_grant_college', '1890_land_grant_college',
       '1994_land_grant_college', 'minority_institution',
       'historically_black_college', 'tribal_college',
       'alaskan_native_servicing_institution',
       'native_hawaiian_servicing_institution', 'school_of_forestry',
       'veterinary_college', 'dot_certified_disadvantage',
       'self_certified_small_disadvantaged_business',
       'small_disadvantaged_business', 'c8a_program_participant',
       'historically_underutilized_business_zone_hubzone_firm',
       'sba_certified_8a_joint_venture'],
      dtype='object')

In [265]:
fiscal_df.describe()

,potential_total_value_of_award,prime_award_transaction_place_of_performance_county_fips_code,prime_award_transaction_place_of_performance_state_fips_code,naics_code
count,2.023000e+03,1986.000000,1986.000000,2023.000000
mean,1.997156e+05,28298.492447,28.232125,502245.899160
std,2.698550e+05,15706.928005,15.689846,114875.411425
min,0.000000e+00,1033.000000,1.000000,115112.000000
25%,3.034412e+04,13059.000000,13.000000,443120.000000
50%,8.342000e+04,26161.000000,26.000000,541620.000000
75%,2.490795e+05,39088.000000,39.000000,541715.000000
max,1.292000e+06,72127.000000,72.000000,926110.000000

In [266]:
fiscal_df_num

,prime_award_transaction_place_of_performance_county_fips_code,prime_award_transaction_place_of_performance_state_fips_code,naics_code
0,0.337469,0.338028,0.552157
1,0.337469,0.338028,0.525905
2,0.337356,0.338028,0.525905
3,0.337469,0.338028,0.270257
6,0.689144,0.690141,0.552157
...,...,...,...
2385,NaN,NaN,0.258950
2395,NaN,NaN,0.247692
2396,NaN,NaN,0.380171
2405,NaN,NaN,0.525905
2406,NaN,NaN,0.525905

In [267]:
for column in filtered_df.columns:
    fiscal_df[column] = (fiscal_df[column] == "t").astype(int)

fiscal_df.head()

,contract_transaction_unique_key,potential_total_value_of_award,awarding_office_name,funding_office_name,foreign_funding,recipient_city_name,recipient_county_name,recipient_state_code,recipient_zip_4_code,primary_place_of_performance_city_name,...,veterinary_college,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture,action_date,contract_award_unique_key,period_of_performance_start_date
0,6800_6800_68HE0123F0001_P00005_68HE0122D0001_0,675000.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,MARLBOROUGH,NaN,MA,17524818,BOSTON,...,0,0,1,0,0,0,0,2023-09-14,CONT_AWD_68HE0123F0001_6800_68HE0122D0001_6800,2022-10-27
1,6800_6800_68HE0123F0002_0_68HE0118A0003_0,224990.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,TRAVERSE CITY,GRAND TRAVERSE,MI,496863458,BOSTON,...,0,0,0,0,0,0,0,2022-12-16,CONT_AWD_68HE0123F0002_6800_68HE0118A0003_6800,2023-01-03
2,6800_6800_68HE0123F0004_P00001_68HE0119A0001_0,6911.29,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,CORINTH,ORANGE,VT,050399517,NORTH CHELMSFORD,...,0,0,0,0,0,0,0,2023-03-08,CONT_AWD_68HE0123F0004_6800_68HE0119A0001_6800,2023-02-02
3,6800_6800_68HE0123F0005_P00001_EPBPA17W0006_0,145509.45,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,VALENCIA,LOS ANGELES,CA,913554550,BOSTON,...,0,0,0,0,0,0,0,2023-09-27,CONT_AWD_68HE0123F0005_6800_EPBPA17W0006_6800,2023-03-03
6,6800_6800_68HE0123F0009_P00001_68HE0121D0005_0,500000.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,FENTON,ST. LOUIS,MO,630262926,WINDSOR,...,0,0,0,0,0,0,0,2023-06-05,CONT_AWD_68HE0123F0009_6800_68HE0121D0005_6800,2023-03-01

In [268]:
fiscal_df['naics_code'] = fiscal_df['naics_code'].astype("object")
fiscal_df.select_dtypes('O').describe().T

,count,unique,top,freq
contract_transaction_unique_key,2023,2023,6800_6800_68HE0123F0001_P00005_68HE0122D0001_0,1
awarding_office_name,2023,16,CINCINNATI ACQUISITION DIV (CAD),511
funding_office_name,2023,23,OFC RESEARCH DEV (ORD) (FUNDING),535
foreign_funding,2023,2,X,2018
recipient_city_name,2022,420,FENTON,87
recipient_county_name,2003,222,FAIRFAX,280
recipient_state_code,2005,46,VA,401
recipient_zip_4_code,2022,734,630262926,83
primary_place_of_performance_city_name,1986,417,WASHINGTON,156
primary_place_of_performance_zip_4,1989.0,925.0,277110001.0,68.0
award_type,1994,4,DELIVERY ORDER,1114
type_of_contract_pricing,2023,11,FIRM FIXED PRICE,1329
inherently_governmental_functions_description,1600,4,OTHER FUNCTIONS,1307
product_or_service_code,2023,226,6640,253
contract_bundling,2023,2,NOT BUNDLED,2021
naics_code,2023.0,166.0,541620.0,452.0
recovered_materials_sustainability,1986,10,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCL...,1096
domestic_or_foreign_entity,2005,5,U.S. OWNED BUSINESS,1830
epa_designated_product,1994,5,NOT REQUIRED,1266
country_of_product_or_service_origin,1994,19,UNITED STATES,1930
place_of_manufacture,1994,7,NOT A MANUFACTURED END PRODUCT,1456
subcontracting_plan,1753,5,PLAN NOT REQUIRED,1237
extent_competed,2007,6,FULL AND OPEN COMPETITION,917
solicitation_procedures,2007,6,SUBJECT TO MULTIPLE AWARD FAIR OPPORTUNITY,787
commercial_item_acquisition_procedures,2023,4,COMMERCIAL PRODUCTS/SERVICES,1240
simplified_procedures_for_certain_commercial_items,2006,2,NO,1992
local_area_set_aside,2007,2,NO,1995
clinger_cohen_act_planning,2023,2,NO,1932
labor_standards,2023,3,NOT APPLICABLE,1036
contracting_officers_determination_of_business_size,2023,2,OTHER THAN SMALL BUSINESS,1015
contingency_humanitarian_or_peacekeeping_operation,2023,2,NOT APPLICABLE,1894
contracting_officers_determination_of_business_size_code,2023,2,O,1015
organizational_type,1977,8,CORPORATE NOT TAX EXEMPT,1563
contract_award_unique_key,2023,2023,CONT_AWD_68HE0123F0001_6800_68HE0122D0001_6800,1

In [269]:
fiscal_df.drop(["contract_transaction_unique_key","contract_award_unique_key", "inherently_governmental_functions_description",'subcontracting_plan'], axis = 1, inplace=True)

In [270]:
fiscal_df.dropna(axis =1)

,potential_total_value_of_award,awarding_office_name,funding_office_name,foreign_funding,type_of_contract_pricing,product_or_service_code,contract_bundling,naics_code,commercial_item_acquisition_procedures,small_business_competitiveness_demonstration_program,...,school_of_forestry,veterinary_college,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture,action_date,period_of_performance_start_date
0,675000.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,TIME AND MATERIALS,B510,NOT BUNDLED,562910.0,COMMERCIAL PRODUCTS/SERVICES PROCEDURES NOT USED,0,...,0,0,0,1,0,0,0,0,2023-09-14,2022-10-27
1,224990.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,FIRM FIXED PRICE,F115,NOT BUNDLED,541620.0,COMMERCIAL PRODUCTS/SERVICES,0,...,0,0,0,0,0,0,0,0,2022-12-16,2023-01-03
2,6911.29,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,TIME AND MATERIALS,F113,NOT BUNDLED,541620.0,COMMERCIAL PRODUCTS/SERVICES,0,...,0,0,0,0,0,0,0,0,2023-03-08,2023-02-02
3,145509.45,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,FIRM FIXED PRICE,5810,NOT BUNDLED,334290.0,COMMERCIAL PRODUCTS/SERVICES,0,...,0,0,0,0,0,0,0,0,2023-09-27,2023-03-03
6,500000.00,REGION 1 CONTRACTING OFFICE,REGION 1 (FUNDING OFFICE),X,TIME AND MATERIALS,F108,NOT BUNDLED,562910.0,COMMERCIAL PRODUCTS/SERVICES PROCEDURES NOT USED,0,...,0,0,0,0,0,0,0,0,2023-06-05,2023-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2385,76193.38,HEADQUARTERS ACQUISITION DIV (HQAD),OFC CHEMSFTYPOLLPREV(OCSPP) (FUND),X,FIRM FIXED PRICE,6830,NOT BUNDLED,325120.0,COMMERCIAL PRODUCTS/SERVICES,0,...,0,0,0,0,0,0,0,0,2023-02-13,2023-02-13
2395,250000.00,HEADQUARTERS ACQUISITION DIV (HQAD),OFC INSPECTOR GENERAL(OIG)(FUNDING),X,FIRM FIXED PRICE,8415,NOT BUNDLED,315990.0,COMMERCIAL PRODUCTS/SERVICES,0,...,0,0,0,1,0,0,0,0,2023-09-27,2023-09-27
2396,250000.00,HEADQUARTERS ACQUISITION DIV (HQAD),OFC OF ADMINISTRATOR (OA) (FUNDING),X,FIRM FIXED PRICE,DA10,NOT BUNDLED,423430.0,COMMERCIAL PRODUCTS/SERVICES,0,...,0,0,0,0,0,0,0,0,2023-09-28,2023-09-28
2405,905570.00,HEADQUARTERS ACQUISITION DIV (HQAD),OFC LANDEMERG MGMT (OLEM)(FUNDING),X,ORDER DEPENDENT (IDV ALLOWS PRICING ARRANGEMEN...,F999,NOT BUNDLED,541620.0,COMMERCIAL PRODUCTS/SERVICES,0,...,0,0,0,0,0,0,0,0,2023-07-14,2023-06-29
2406,226837.00,HEADQUARTERS ACQUISITION DIV (HQAD),OFC LANDEMERG MGMT (OLEM)(FUNDING),X,ORDER DEPENDENT (IDV ALLOWS PRICING ARRANGEMEN...,F999,NOT BUNDLED,541620.0,COMMERCIAL PRODUCTS/SERVICES,0,...,0,0,0,0,0,0,0,0,2023-07-14,2023-06-29

In [271]:
fiscal_cat_df = fiscal_df.select_dtypes('O')
columns = fiscal_df.select_dtypes('O').columns
columns

Index(['awarding_office_name', 'funding_office_name', 'foreign_funding',
       'recipient_city_name', 'recipient_county_name', 'recipient_state_code',
       'recipient_zip_4_code', 'primary_place_of_performance_city_name',
       'primary_place_of_performance_zip_4', 'award_type',
       'type_of_contract_pricing', 'product_or_service_code',
       'contract_bundling', 'naics_code', 'recovered_materials_sustainability',
       'domestic_or_foreign_entity', 'epa_designated_product',
       'country_of_product_or_service_origin', 'place_of_manufacture',
       'extent_competed', 'solicitation_procedures',
       'commercial_item_acquisition_procedures',
       'simplified_procedures_for_certain_commercial_items',
       'local_area_set_aside', 'clinger_cohen_act_planning', 'labor_standards',
       'contracting_officers_determination_of_business_size',
       'contingency_humanitarian_or_peacekeeping_operation',
       'contracting_officers_determination_of_business_size_code',
       'organizational_type'],
      dtype='object')

In [272]:
fiscal_df.drop(['recipient_city_name','recipient_county_name','recipient_zip_4_code','primary_place_of_performance_city_name','primary_place_of_performance_zip_4', 'recipient_state_code','awarding_office_name','funding_office_name','product_or_service_code'],axis = 1, inplace=True, )

In [273]:
fiscal_df.select_dtypes('O').describe().T

,count,unique,top,freq
foreign_funding,2023,2,X,2018
award_type,1994,4,DELIVERY ORDER,1114
type_of_contract_pricing,2023,11,FIRM FIXED PRICE,1329
contract_bundling,2023,2,NOT BUNDLED,2021
naics_code,2023.0,166.0,541620.0,452.0
recovered_materials_sustainability,1986,10,NO CLAUSES INCLUDED AND NO SUSTAINABILITY INCL...,1096
domestic_or_foreign_entity,2005,5,U.S. OWNED BUSINESS,1830
epa_designated_product,1994,5,NOT REQUIRED,1266
country_of_product_or_service_origin,1994,19,UNITED STATES,1930
place_of_manufacture,1994,7,NOT A MANUFACTURED END PRODUCT,1456
extent_competed,2007,6,FULL AND OPEN COMPETITION,917
solicitation_procedures,2007,6,SUBJECT TO MULTIPLE AWARD FAIR OPPORTUNITY,787
commercial_item_acquisition_procedures,2023,4,COMMERCIAL PRODUCTS/SERVICES,1240
simplified_procedures_for_certain_commercial_items,2006,2,NO,1992
local_area_set_aside,2007,2,NO,1995
clinger_cohen_act_planning,2023,2,NO,1932
labor_standards,2023,3,NOT APPLICABLE,1036
contracting_officers_determination_of_business_size,2023,2,OTHER THAN SMALL BUSINESS,1015
contingency_humanitarian_or_peacekeeping_operation,2023,2,NOT APPLICABLE,1894
contracting_officers_determination_of_business_size_code,2023,2,O,1015
organizational_type,1977,8,CORPORATE NOT TAX EXEMPT,1563

In [274]:
fiscal_df_cat = fiscal_df.select_dtypes('O').columns
fiscal_df_cat

Index(['foreign_funding', 'award_type', 'type_of_contract_pricing',
       'contract_bundling', 'naics_code', 'recovered_materials_sustainability',
       'domestic_or_foreign_entity', 'epa_designated_product',
       'country_of_product_or_service_origin', 'place_of_manufacture',
       'extent_competed', 'solicitation_procedures',
       'commercial_item_acquisition_procedures',
       'simplified_procedures_for_certain_commercial_items',
       'local_area_set_aside', 'clinger_cohen_act_planning', 'labor_standards',
       'contracting_officers_determination_of_business_size',
       'contingency_humanitarian_or_peacekeeping_operation',
       'contracting_officers_determination_of_business_size_code',
       'organizational_type'],
      dtype='object')

In [275]:
encoded_df = pd.get_dummies(fiscal_df, columns=fiscal_df_cat, drop_first= True)
machine_df = encoded_df.dropna(axis=1)
machine_df.drop(['action_date', 'period_of_performance_start_date'],axis = 1, inplace= True)
machine_df

C:\Users\linkd\AppData\Local\Temp\ipykernel_13080\1985386301.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  encoded_df = pd.get_dummies(fiscal_df, columns=fiscal_df_cat, drop_first= True)
C:\Users\linkd\AppData\Local\Temp\ipykernel_13080\1985386301.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  machine_df.drop(['action_date', 'period_of_performance_start_date'],axis = 1, inplace= True)

,potential_total_value_of_award,small_business_competitiveness_demonstration_program,labor_surplus_area_firm,alaskan_native_corporation_owned_firm,american_indian_owned_business,indian_tribe_federally_recognized,native_hawaiian_organization_owned_firm,tribally_owned_firm,veteran_owned_business,service_disabled_veteran_owned_business,...,contracting_officers_determination_of_business_size_SMALL BUSINESS,contingency_humanitarian_or_peacekeeping_operation_NOT APPLICABLE,contracting_officers_determination_of_business_size_code_S,organizational_type_CORPORATE TAX EXEMPT,organizational_type_FOREIGN GOVERNMENT,organizational_type_INTERNATIONAL ORG,organizational_type_OTHER,organizational_type_PARTNERSHIP,organizational_type_SOLE PROPRIETORSHIP,organizational_type_US GOVERNMENT ENTITY
0,675000.00,0,0,1,0,0,0,0,0,0,...,1,1,1,0,0,0,0,1,0,0
1,224990.00,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
2,6911.29,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,1,0
3,145509.45,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,1,0,0
6,500000.00,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2385,76193.38,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
2395,250000.00,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,1,0,0,0
2396,250000.00,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
2405,905570.00,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2406,226837.00,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

### Machine Learning

In [276]:
# Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [277]:
# Log transformation
X = machine_df.drop('potential_total_value_of_award', axis = 1)
y = np.log(machine_df[['potential_total_value_of_award']]+1)

In [278]:
y.describe()

       potential_total_value_of_award
count                     2023.000000
mean                        11.291090
std                          1.712798
min                          0.000000
25%                         10.320389
50%                         11.331655
75%                         12.425531
max                         14.071703

In [279]:
X_train,X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state= 707)

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((1618, 336), (1618, 1), (405, 336), (405, 1))

In [280]:
k = 7
selector = SelectKBest(score_func=f_regression, k=k)
X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)
print(X_test_selected)

selected_indices = selector.get_support(indices=True)
selected_features = X_train.columns[selected_indices]
print(selected_features)

[[0 0 1 ... 1 0 1]
 [1 0 1 ... 0 1 0]
 [1 0 1 ... 0 0 1]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [1 0 1 ... 0 0 0]]
Index(['award_type_DELIVERY ORDER', 'award_type_PURCHASE ORDER',
       'type_of_contract_pricing_FIRM FIXED PRICE',
       'place_of_manufacture_NOT A MANUFACTURED END PRODUCT',
       'solicitation_procedures_SIMPLIFIED ACQUISITION',
       'commercial_item_acquisition_procedures_COMMERCIAL PRODUCTS/SERVICES PROCEDURES NOT USED',
       'labor_standards_NOT APPLICABLE'],
      dtype='object')

C:\Users\linkd\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [281]:
model = LinearRegression()
model.fit(X_train_selected, y_train)

# Make predictions on the testing set
y_pred = model.predict(X_test_selected)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 2.969863616066277

### Try 57

In [282]:
k = 57
selector = SelectKBest(score_func=f_regression, k=k)
X_train_selected = selector.fit_transform(X_train, y_train)
X_test_selected = selector.transform(X_test)

selected_indices = selector.get_support(indices=True)
selected_features = X_train.columns[selected_indices]

model = LinearRegression()
model.fit(X_train_selected, y_train)

y_pred = model.predict(X_test_selected)
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

C:\Users\linkd\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Mean Squared Error: 2.87619424580451

### Classfication

In [283]:
machine_df

,potential_total_value_of_award,small_business_competitiveness_demonstration_program,labor_surplus_area_firm,alaskan_native_corporation_owned_firm,american_indian_owned_business,indian_tribe_federally_recognized,native_hawaiian_organization_owned_firm,tribally_owned_firm,veteran_owned_business,service_disabled_veteran_owned_business,...,contracting_officers_determination_of_business_size_SMALL BUSINESS,contingency_humanitarian_or_peacekeeping_operation_NOT APPLICABLE,contracting_officers_determination_of_business_size_code_S,organizational_type_CORPORATE TAX EXEMPT,organizational_type_FOREIGN GOVERNMENT,organizational_type_INTERNATIONAL ORG,organizational_type_OTHER,organizational_type_PARTNERSHIP,organizational_type_SOLE PROPRIETORSHIP,organizational_type_US GOVERNMENT ENTITY
0,675000.00,0,0,1,0,0,0,0,0,0,...,1,1,1,0,0,0,0,1,0,0
1,224990.00,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
2,6911.29,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,1,0
3,145509.45,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,1,0,0
6,500000.00,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2385,76193.38,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,0,0,0,0
2395,250000.00,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,1,0,0,0
2396,250000.00,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
2405,905570.00,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2406,226837.00,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [298]:

range = [-100, 100000, 500000, np.inf]
group_name = ['0-100k', '100k-500k', '500k+']

machine_df['income_level'] = pd.cut(machine_df['potential_total_value_of_award'], bins = range, labels = group_name)
machine_df[['potential_total_value_of_award', 'income_level']]

machine_df['income_level'].value_counts()

C:\Users\linkd\AppData\Local\Temp\ipykernel_13080\1670004312.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  machine_df['income_level'] = pd.cut(machine_df['potential_total_value_of_award'], bins = range, labels = group_name)

0-100k       1138
100k-500k     647
500k+         238
Name: income_level, dtype: int64

In [295]:
machine_df['income_level'] = machine_df['income_level'].astype('int')
machine_df['income_level'].dtype

C:\Users\linkd\AppData\Local\Temp\ipykernel_13080\586932085.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  machine_df['income_level'] = machine_df['income_level'].astype('int')

dtype('int32')

### Classfication

In [285]:
# Import package
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [286]:
X = machine_df.drop(['potential_total_value_of_award','income_level'], axis = 1)
y = machine_df[['income_level']]

In [287]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=707)

# Initialize the logistic regression model
logistic_model = LogisticRegression(multi_class = 'multinomial', C=0.3)

# Train the logistic regression model on the training data
logistic_model.fit(X_train, y_train)

# Predict the target variable on the testing set
y_pred = logistic_model.predict(X_test)

# Evaluate the performance of the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Additional evaluation metrics
print("Classification Report:")
print(classification_report(y_test, y_pred))

C:\Users\linkd\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy: 0.6765432098765433
Classification Report:
              precision    recall  f1-score   support

           1       0.76      0.85      0.80       237
           2       0.54      0.48      0.51       127
           3       0.48      0.29      0.36        41

    accuracy                           0.68       405
   macro avg       0.59      0.54      0.56       405
weighted avg       0.66      0.68      0.66       405

C:\Users\linkd\AppData\Roaming\Python\Python311\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

### SVM

In [299]:
from sklearn.svm import SVC

In [302]:
X = machine_df.drop(['potential_total_value_of_award','income_level'], axis = 1)
y = machine_df[['income_level']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=707)

# Initialize and train the Support Vector Classification model
svm_model = SVC(kernel='rbf', C=1.0, gamma='scale', random_state=42)
svm_model.fit(X_train, y_train)

# Predict on the testing set
y_pred = svm_model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

C:\Users\linkd\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy: 0.6864197530864198

Naive Bayes

In [304]:
from sklearn.naive_bayes import GaussianNB

In [305]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the Gaussian Naive Bayes model
nb_model = GaussianNB()
nb_model.fit(X_train, y_train)

# Predict on the testing set
y_pred = nb_model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.20246913580246914

C:\Users\linkd\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)